@model Entities.MasterEmailTemplateType
<div class="form-horizontal">
    <div class="row mb-3">
        <label for="Subject" class="col-3 col-form-label">Email Type</label>
        <div class="col-9">
            <input type="text" class="form-control" asp-for="EmailType" placeholder="EmailType">
        </div>
    </div>
    <div class="row mb-3 justify-content-end">
        <div class="col-9">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="Status">
                <label class="form-check-label" for="Status">Active</label>
            </div>
        </div>
    </div>
    <div class="justify-content-end row">
        <div class="col-9">
            <button type="submit" class="btn btn-info">

                @if (Model != null && Model.EmailTypeId != null)
                {
                    <text>Update</text>
                }
                else
                {
                    <text>Save</text>
                }

            </button>
        </div>
    </div>
</div>