@model Entities.EmailTemplate
<div class="form-horizontal">
    <div class="row mb-3">
        <label for="EmailType" class="col-3 col-form-label">Template Type</label>
        <div class="col-9">
            <input type="email" class="form-control" asp-for="EmailType" placeholder="EmailType">
        </div>
    </div>
    <div class="row mb-3">
        <label for="TemplateImage" class="col-3 col-form-label">Preview Template Image</label>
        <div class="col-9">
            <input type="text" class="form-control" asp-for="TemplateImage" placeholder="Template Image">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Subject" class="col-3 col-form-label">Subject</label>
        <div class="col-9">
            <input type="text" class="form-control" asp-for="Subject" placeholder="Subject">
        </div>
    </div>    
    <div class="row mb-3">
        <label for="DomainName" class="col-3 col-form-label">Project Name</label>
        <div class="col-9">
            <input type="text" class="form-control" asp-for="DomainName" placeholder="Project Name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="Body" class="col-3 col-form-label">Content</label>
        <div class="col-9">
            <textarea class="form-control" asp-for="Content" placeholder="Content"></textarea>
        </div>
    </div>
    <div class="row mb-3 justify-content-end">
        <div class="col-9">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="Status">
                <label class="form-check-label" for="Status">Active</label>
            </div>
        </div>
    </div>
    <div class="justify-content-end row">
        <div class="col-9">
            <button type="submit" class="btn btn-info">

                @if (Model != null && Model.TemplateID != null)
                {
                    <text>Update</text>
                }
                else
                {
                    <text>Save</text>
                }
                
            </button>
        </div>
    </div>
</div>