

@{
    ViewData["Title"] = "EmailTemplateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .HC{
        color: white;
    }

</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Email Template</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mb-2" id="txtname" onchange=" Onload();" placeholder="search subject.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editEmailTemplate(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> *@
                                    <button type="button" class="btn btn-dark mb-2" onclick="NewEmailType();">
                                        <i class="mdi mdi-plus-circle me-2"></i>New Type
                                        </button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive card">
                            <table class="table table-hover dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr>
                                        <th>
                                            <label class="HC">ID</label>
                                        </th>
                                        <th>
                                            <label class="HC">TYPE</label>
                                        </th>
                                        <th>
                                            <label class="HC">SUBJECT</label>
                                        </th>
                                        <th>
                                            <label class="HC">Image</label>
                                        </th>
                                        <th>
                                            <label class="HC">REPLACE</label>
                                        </th>
                                        <th>
                                            <label class="HC">CONTENT</label>
                                        </th>
                                        <th>
                                            <label class="HC">Entry</label>
                                        </th>
                                        <th>
                                            <label class="HC">STATUS</label>
                                        </th>
                                        <th><label class="HC">ACTION</label></th>
                                    </tr>
                                </thead>
                                <tbody id="emailTemplateList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="emailTemp_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function Onload() {
        var param = {
            name: $("#txtname").val(),
            PageLength: $("#ddltop").val(),
        }
        $.post('/TemplateList', param).done(function (res) {
            $("#emailTemplateList").html(res);
        }).fail(function () {
            alert("error");
        });
    }

    Onload();

    jQuery(document).ready(function ($) {
        $("#dTable").DataTable();
    });
    function NewEmailType() {
        $.post('/IndexEmailType').done(function (res) {
            $("#emailTemp_modalPV").html(res);
        }).fail(function () {
            alert("error");
        });
    }


    function emailTemplateDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#emailTemp_modalPV").html(res);
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function editEmailTemplate(TId) {
        let param = {
            id: TId,
        };
        $.get("/_EditEmail", param).done(function (res) {
            console.log(res);
            $("#emailTemp_modalPV").html(res);
            $("#editEmailmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function templateStatus(Id) {
        var id = $("#customSwitch3_" + Id).prop("checked");
        if (id == true) {
            id = 1;

        }
        else {
            id = 0;
        }
        var param = {
            Id: Id,
            Status: id,
        };
        console.log(param);
        $.post("/Employee/UpdateEmployeeStatus", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }


    function addEmailTemplate() {
        debugger;
       var status= $("#Status").prop('checked')
        var emailstatus = 0;
        if (status == true) {
            emailstatus = 1;
        }
        let emailTemplate = {
            TemplateID: $("#EmailTemplates_TemplateID").val(),
            ProjectId: $("#EmailTemplates_ProjectId").val(),
            EmailType: $("#EmailTemplates_EmailType").val(),
            Subject: $("#EmailTemplates_Subject").val(),
            Content: $("#EmailTemplates_Content").val(),
            Status: emailstatus,
        };

        const formData = new FormData();
        formData.append("emailTemplate", JSON.stringify(emailTemplate));  // Corrected line
        formData.append("file", $("#file").prop('files')[0]);

        // Debug: Log the formData contents
        for (const pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }

        $.ajax({
            url: '/EmailTemplateAddOrUpdate',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                Info(result.statusCode, result.responseText);
                Onload();
            },
            error: function () {
                showerrors("Something went wrong!!!");
            }
        });
    }

</script>

