            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page email-title -->
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                                        <li class="breadcrumb-item active">Inbox</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Inbox</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!-- end page email-title -->

                    <div class="row">

                        <!-- Right Sidebar -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Left sidebar -->
                                    <div class="page-aside-left">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#compose-modal">Compose</button>
                                        </div>

                                        <div class="email-menu-list mt-3">
                                            <a href="javascript: void(0);" class="text-danger fw-bold"><i
                                                    class="ri-inbox-line me-2"></i>Inbox<span
                                                    class="badge badge-danger-lighten float-end ms-2">7</span></a>
                                            <a href="javascript: void(0);"><i class="ri-star-line me-2"></i>Starred</a>
                                            <a href="javascript: void(0);"><i class="ri-time-line me-2"></i>Snoozed</a>
                                            <a href="javascript: void(0);"><i
                                                    class="ri-article-line me-2"></i>Draft<span
                                                    class="badge badge-info-lighten float-end ms-2">32</span></a>
                                            <a href="javascript: void(0);"><i class="ri-mail-send-line me-2"></i>Sent
                                                Mail</a>
                                            <a href="javascript: void(0);"><i
                                                    class="ri-delete-bin-line me-2"></i>Trash</a>
                                            <a href="javascript: void(0);"><i
                                                    class="ri-price-tag-3-line me-2"></i>Important</a>
                                            <a href="javascript: void(0);"><i class="ri-alert-line me-2"></i>Spam</a>
                                        </div>

                                        <div class="mt-4">
                                            <h6 class="text-uppercase">Labels</h6>
                                            <div class="email-menu-list labels-list mt-2">
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-info me-2"></i>Updates</a>
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-warning me-2"></i>Friends</a>
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-success me-2"></i>Family</a>
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-primary me-2"></i>Social</a>
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-danger me-2"></i>Important</a>
                                                <a href="javascript: void(0);"><i
                                                        class="mdi mdi-circle font-13 text-secondary me-2"></i>Promotions</a>
                                            </div>
                                        </div>
                                         
                                        <div class="mt-5">
                                            <h4><span
                                                    class="badge rounded-pill p-1 px-2 badge-secondary-lighten">FREE</span>
                                            </h4>
                                            <h6 class="text-uppercase mt-3">Storage</h6>
                                            <div class="progress my-2 progress-sm">
                                                <div class="progress-bar progress-lg bg-success" role="progressbar"
                                                    style="width: 46%" aria-valuenow="46" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                            <p class="text-muted font-13 mb-0">7.02 GB (46%) of 15 GB used</p>
                                        </div>

                                    </div>
                                    <!-- End Left sidebar -->

                                    <div class="page-aside-right">

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary"><i
                                                    class="mdi mdi-archive font-16"></i></button>
                                            <button type="button" class="btn btn-secondary"><i
                                                    class="mdi mdi-alert-octagon font-16"></i></button>
                                            <button type="button" class="btn btn-secondary"><i
                                                    class="mdi mdi-delete-variant font-16"></i></button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle arrow-none"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-folder font-16"></i>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">Move to:</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle arrow-none"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-label font-16"></i>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">Label as:</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                            </div>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle arrow-none"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-horizontal font-16"></i> More
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">More Options :</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Add Star</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Mute</a>
                                            </div>
                                        </div>

                                        <div class="mt-3">
                                    <div id="emaillist"></div>
                                        </div>
                                        <!-- end .mt-4 -->
                                        <!-- end row-->
                                    </div>
                                    <!-- end inbox-rightbar-->
                                </div>
                                <!-- end card-body -->
                                <div class="clearfix"></div>
                            </div> <!-- end card-box -->

                        </div> <!-- end Col -->
                    </div><!-- End row -->

                </div> <!-- container -->

            </div> <!-- content -->
<!-- Compose Modal -->
<div id="compose-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="compose-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary">
                <h4 class="modal-title" id="compose-header-modalLabel">New Message</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="p-1">
                <div class="modal-body px-3 pt-3 pb-0">
                    <form>
                        <div class="mb-2">
                            <label for="msgto" class="form-label">To</label>
                            <input type="text" id="ToEmail" class="form-control inputValidate"
                                   placeholder="Example@email.com">
                        </div>
                        <div class="mb-2">
                            <label for="mailsubject" class="form-label">Subject</label>
                            <input type="text" id="mailsubject" class="form-control inputValidate"
                                   placeholder="Your subject">
                        </div>
                        <div class="mb-2">
                            <label for="mailsubject" class="form-label">Profile</label>
                            <input type="file" id="file" class="form-control inputValidate"
                                   placeholder="Your subject">
                        </div>
                        <div class="write-mdg-box mb-3">
                            <label class="form-label">Message</label>
                            <div id="editor" class=""></div>
                        </div>
                    </form>
                </div>
                <div id="loader_spinner" style="display: none;" class="overlay-spinner"></div>
                <div class="px-3 pb-3">
                    <button type="button" class="btn btn-primary" id="sendButton">
                        <i class="mdi mdi-send me-1"></i> Send Message
                    </button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline'], // Text formatting options
                [{ 'header': 1 }, { 'header': 2 }], // Header formatting options
                [{ 'list': 'ordered' }, { 'list': 'bullet' }], // List options
                [{ 'indent': '-1' }, { 'indent': '+1' }], // Indentation options
                [{ 'direction': 'rtl' }], // Text direction
                [{ 'size': ['small', false, 'large', 'huge'] }], // Font size options
                [{ 'color': [] }, { 'background': [] }], // Text color and background color
                [{ 'align': [] }] // Text alignment
            ]
        },
        theme: 'snow' // Use 'snow' theme (you can switch to 'bubble' if preferred)
    });
    $(document).ready(function () {
       
            $("#sendButton").click(function () {
                if (IsValidate()) {
                    const formData = new FormData();
                    formData.append("ToEmail", $("#ToEmail").val());
                    formData.append("Subject", $("#mailsubject").val());
                    formData.append("Message", $("#editor").html());
                    const fileInput = $("#file").prop('files')[0];
                    if (fileInput) {
                        formData.append("imageFile", fileInput);
                    }
                    Show_Loader();
                    $.ajax({
                        url: '/Compose',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            Hide_Loader();
                            Info(response.statusCode, response.responseText);
                        },
                        error: function (xhr, status, error) {
                            alert("Error sending email: " + error);
                        }
                    });
                }
            });
        
    });

    const getEmailDetail = () => {
        const param = {
            Id: 0,
            name: 'All'
        };

        $.post('/GetComposeEmail', param)
            .done((res) => {
                alert("suc.");
                console.table(res);
                $("#emaillist").html(res);
            })
            .fail(() => {
                // Show an error message in case of failure
                alert("Error occurred while fetching email details.");
            });
    };


    getEmailDetail();
</script>