@model IEnumerable<Entities.Doctor>
@{
    ViewData["Title"] = "CreateTreatment";
    Layout = null;
}
<div class="modal fade" id="AddTreatment_Modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <div class="card">
                        <div class="form-horizontal">
                            <div class="row mb-3">
                                <label for="EmailType" class="col-3 col-form-label">Doctor Name</label>
                                <div class="col-9">
                                    <select id="doctor" class="form-control inputValidate">
                                        <option value="">Please Select Doctor</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.DrId">@item.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EmailType" class="col-3 col-form-label">Email</label>
                                <div class="col-9">
                                    <input type="email" id="txtEmail" class="form-control inputValidate" placeholder="Patient Email" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EmailType" class="col-3 col-form-label">Diagnosis</label>
                                <div class="col-9">
                                    <input type="text" id="txtDiagnosis" class="form-control inputValidate" placeholder="Please Enter Diagnosis" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="EmailType" class="col-3 col-form-label ">Description</label>
                                <div class="col-9">
                                    <textarea id="Description" class="form-control inputValidate" placeholder="Please Enter Description"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr />
                    <!-- Row start -->
                    <div class="row gx-3">
                        <div class="col-12 card">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="table-dark">
                                        <tr class="text-white">
                                            <th>Medicine</th>
                                            <th>Dosage</th>
                                            <th>Frequency</th>
                                            <th>FollowUpDate</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                        <tr class="rowClass">
                                            <td>
                                                <div class="m-0">
                                                    <input type="text" class="form-control " id="txtMedicineName0" placeholder="Please enter name" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group m-0">
                                                    <input type="text" id="txtDosage0" class="form-control " placeholder="Please Enter Dosage" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group m-0">
                                                    <input type="text" id="txtFrequency0" class="form-control " placeholder="Please Enter Frequency" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group m-0">
                                                    <input type="date" id="txtFollowUpDate0" class="form-control " placeholder="Please Enter Follow Date" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-inline-flex gap-3">
                                                    <button class="btn btn-outline-danger remove">
                                                        <i class="mdi mdi-delete"></i>
                                                    </button>
                                                    <button class="btn btn-primary" id="btnaddnew">
                                                        Add
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-end">
                                <button class="btn btn-outline-success" onclick="CreateMedicineReport();">
                                    Create Medicine Report
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>
        </div>
    </div>
</div>



<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<!-- Content wrapper start -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    let count = 1;
    $(document).ready(() => {
        $('#tbody').on('click', '#btnaddnew', function (e) {
            e.preventDefault();
            let currentRow = $(this).closest('.rowClass');
            let isValid = validateRow(currentRow);

            if (isValid) {
                let dynamicRowHTML = `
                            <tr class="rowClass">
                                <td>
                                    <input type="text" class="form-control" id="txtMedicineName${count}" placeholder="Please Enter Name" />
                                </td>
                                <td>
                                        <input type="text" id="txtDosage${count}" class="form-control" placeholder="Please Enter Dosage" />
                                </td>
                                <td>
                                        <input type="text" id="txtFrequency${count}" class="form-control" placeholder="Please Enter Frequency" />
                                </td>
                                <td>
                                        <input type="date" id="txtFollowUpDate${count}" class="form-control" placeholder="Please Enter Follow Date" />
                                </td>
                                <td>
                                    <div class="d-inline-flex gap-3">
                                        <button class="btn btn-outline-danger remove">
                                                <i class="mdi mdi-delete"></i>
                                        </button>
                                            <button class="btn btn-primary" id="btnaddnew">
                                            Add
                                        </button>
                                    </div>
                                </td>
                            </tr>`;

                $('#tbody tr:last').before(dynamicRowHTML);
                count++;
            } else {
                alert('Please fill all the fields before adding a new row.');
            }
        });

        $('#tbody').on('click', '.remove', function () {
            $(this).closest('.rowClass').remove();
        });

        function validateRow(row) {
            let isValid = true;
            row.find('input').each(function () {
                if ($(this).val() === '' || $(this).val() == null) {
                    isValid = false;
                }
            });
            return isValid;
        }

        window.CreateMedicineReport = function () {
            debugger;
            if (validateInvoiceFields()) {



                let treatment = {
                    DrId: $('#doctor').val(),
                    Email: $('#txtEmail').val(),
                    Diagnosis: $('#txtDiagnosis').val(),
                    Description: $('#Description').val(),
                    Medications: []
                };

                $('.rowClass').each(function (index, element) {
                    let medicineName = $(element).find('input[id^="txtMedicineName"]').val();
                    let dosage = $(element).find('input[id^="txtDosage"]').val();
                    let frequency = $(element).find('input[id^="txtFrequency"]').val();
                    let followUpDate = $(element).find('input[id^="txtFollowUpDate"]').val();

                    console.log(`Medicine ${index}:`, {
                        Name: medicineName,
                        Dosage: dosage,
                        Frequency: frequency,
                        FollowUpDate: followUpDate
                    });

                    let medicine = {
                        Name: medicineName,
                        Dosage: dosage,
                        Frequency: frequency,
                        FollowUpDate: followUpDate
                    };

                    treatment.Medications.push(medicine);
                });

                console.log('Treatment:', treatment);

                $.ajax({
                    url: '/AddTreatment',
                    type: 'POST',
                    data: JSON.stringify(treatment),
                    contentType: 'application/json',
                    success: function (res) {
                        Info(res.statusCode, res.responseText);
                    },
                    error: function (error) {
                        Info(error.statusCode, error.responseText);
                    }
                });
            }
        }


        function validateInvoiceFields() {
            let isValid = true;
            $('.inputValidate').each(function () {
                const $this = $(this);
                console.log($this);
                if ($this.val().trim() === '' || $this.val().trim() == 0) {
                    $this.addClass("border border-2 border-danger");
                    if ($this.next('.error-message').length < 1) {
                        $this.after('<div class="error-message text-danger">This field is required</div>');
                    }
                    isValid = false;
                } else {
                    $this.removeClass("border border-2 border-danger").addClass("border-success");
                    $this.next('.error-message').remove();
                }
            });

            return isValid;
        }

       

    });

</script>
