@using API.Claims
@{
    ViewData["Title"] = "TreatmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? role = User.GetLoggedInUserRole();
}
<style>
    th label {
        color: white;
    }</style>
<div class="content">


    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        @*  <div class="col-auto">
                                        <label for="Criteria" class="form-label mb-2">Top</label>
                                        </div> *@
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltypetop">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                              @*       @if (role=="Admin")
                                    {
                                        <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                            <div class="col-auto mb-2">
                                                <select class="form-control" id="ddlproid">
                                                </select>
                                            </div>
                                        </div>
                                    } *@
                                    <input type="date" class="form-control mb-2" id="txtdate" style="width:50px;" placeholder="search date.." /> &nbsp; Or &nbsp;
                                    <input type="text" class="form-control mb-2" id="txtpid" placeholder="search patient id.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="CreateTreatment()" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr class="text-white">
                                        <th scope="col" id="label-patient-name">
                                            <label for="patient-name">Patient Name</label>
                                        </th>
                                        <th scope="col" id="label-doctor-name">
                                            <label for="doctor-name">Doctor Name</label>
                                        </th>
                                        <th scope="col" id="label-diagnosis">
                                            <label for="diagnosis">Diagnosis</label>
                                        </th>
                                        <th scope="col" id="label-date">
                                            <label for="date">Date</label>
                                        </th>
                                        <th scope="col" id="label-description">
                                            <label for="description">Description</label>
                                        </th>
                                        <th scope="col" id="label-status">
                                            <label for="status">Status</label>
                                        </th>
                                        <th scope="col" id="label-action">
                                            <label for="action">Action</label>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody id="tList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->

</div>
<div id="treatPV"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Onload() {
        var projectId = 0;
        projectId = $("#ddlproid").val();
        var param = {
            Id: $("#txtpid").val(),
            Date: $("#txtdate").val(),
            ProjectId: projectId,
            PageLength: $("#ddltypetop").val(),
        };
        $.post('/_TreatmentList', param).done(function (res) {

            $("#tList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();
    function OnloadProjectId() {
        $.post('/UserListInJson').done(function (res) {
            var options = '<option value="0">Project Id</option>';
            for (var i = 0; i < res.length; i++) {
                options += '<option value="' + res[i].projectId + '">' + res[i].projectId + '</option>';
            }
            $('#ddlproid').html(options);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    OnloadProjectId();
    function medicationList(Id) {
        let param = {
            id: Id,
        };
        $.post("/_MedicationList", param)
            .done(function (res) {
                $("#treatPV").html(res);
                $("#MedicationList_Modal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function CreateTreatment() {
        $.post("/CreateTreatment")
            .done(function (res) {
                $("#treatPV").html(res);
                $("#AddTreatment_Modal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }
</script>
