

@{
    ViewData["Title"] = "PurchaseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th label {
        color: white;
    }</style>
<!-- Start Content-->
<div class="content">


    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control mb-2" id="txtname" placeholder="search name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                   @*<button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="EditDoctor(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                     <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr>
                                        <th>
                                            <label for="project-id">Project Id</label>
                                        </th>
                                        <th>
                                            <label for="service-id">Service ID</label>
                                        </th>
                                        <th>
                                            <label for="activation-date">Activation Date</label>
                                        </th>
                                        <th>
                                            <label for="expiry-date">Expiry Date</label>
                                        </th>
                                        <th>
                                            <label for="price">Price</label>
                                        </th>
                                        <th>
                                            <label for="discount">Discount</label>
                                        </th>
                                        <th>
                                            <label for="last-price">Last Price</label>
                                        </th>
                                        <th>
                                            <label for="renewal">Renewal</label>
                                        </th>
                                    </tr>

                                </thead>


                                <tbody id="pSList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->

</div> <!-- content -->
<div id="Pur_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Onload() {
        var param = {
            name: $("#txtname").val(),
        }
        $.post('/_PurchaseList', param).done(function (res) {
            $("#pSList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();
</script>
