@model Entities.Patient
<link href="~/Spinner.css" rel="stylesheet" type="text/css" />

<style>
	.slider-container {
		position: relative;
		display: inline-block;
		width: 80px;
		height: 37px;
	}

		.slider-container input[type="checkbox"] {
			opacity: 0;
			width: 0;
			height: 0;
		}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
	}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: .4s;
		}

	input:checked + .slider {
		background-color: #42d29d;
	}

		input:checked + .slider:before {
			transform: translateX(43px);
		}

	.slider-label {
		color: #fff;
		font-size: 14px;
	}

		.slider-label.on {
			margin-left: 10px;
		}

		.slider-label.off {
			margin-right: 10px;
		}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="card">
	<div class="card-body">
		<!-- Modal -->
		<div class="modal fade" id="Patient_Editmodal" tabindex="-1" aria-labelledby="Patient_EditmodalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="Patient_EditmodalTitle">
							Add Or Update Patient
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">


						<div class="row gx-3">
							<div class="col-sm-12 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<input type="text" hidden asp-for="PId">

											<label for="Name" class="form-label">Full Name</label>
											<input type="text" class="form-control inputValidate" asp-for="Name" placeholder="Full Your Name">
										</div>
										<div class="mb-3">
											<label for="Phone" class="form-label">Contact</label>
											<input type="number" class="form-control inputValidate" asp-for="Phone" placeholder=" Enter Your Contact">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="Email" class="form-label">Email</label>
											<input type="email" class="form-control inputValidate" asp-for="Email" placeholder="Enter Email ID">
										</div>
										<div class="mb-3">
											<label for="DateOfBirth" class="form-label">Birthday</label>
											<input type="date" class="form-control inputValidate datepicker-opens-left" asp-for="DateOfBirth" placeholder="DD/MM/YYYY">
										</div>
									</div>
								</div>
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<label for="Address" class="form-label">Address</label>
											<input type="text" class="form-control inputValidate" asp-for="Address" placeholder=" Enter Your Address">
										</div>
										<div class="mb-3">
											<label for="Gender" class="form-label">Gender</label>
											<select class="form-control inputValidate" asp-for="Gender">
												<option value="">Select Gender</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
												<option value="Other's">Other's</option>
											</select>
									
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="MedicalHistory" class="form-label">Medical History</label>
											<div class="input-group" >
												<div>
												<input type="text" class="form-control inputValidate" asp-for="MedicalHistory" id="MedicalHistory" placeholder="Medical History" style="height:40px; width:260px;" name="MedicalHistory" value="0">
												</div>
												<span class="input-group-text" style="height:40px;">
													<label class="slider-container" >
														<input type="checkbox"  onchange="toggleRateVisibility();" id="IsReceiveRateIncluded" data-switch="success">
														<span class="slider">
															<span class="slider-label off">Yes</span>
															<span class="slider-label on">No</span>
														</span>
													</label>
												</span>
											</div>
										</div>
										<div class="mb-3">
											<label for="InsuranceInformation" class="form-label">Insurance Information</label>
											<input type="text" class="form-control inputValidate" asp-for="InsuranceInformation" placeholder="Insurance Information">
										</div>
									</div>
								</div>
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<label for="EmergencyContactName" class="form-label">Emergency Contact Name</label>
											<input type="text" class="form-control inputValidate" asp-for="EmergencyContactName" placeholder="Emergency Contact Name">
										</div>
										<div class="mb-3">
											<label for="EmergencyContactPhone" class="form-label">Emergency Contact</label>
											<input type="number" class="form-control inputValidate" asp-for="EmergencyContactPhone" placeholder="Emergency Contact Phone">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="PrimaryCarePhysicianName" class="form-label">PrimaryCare Physician Name</label>
											<input type="text" class="form-control inputValidate" asp-for="PrimaryCarePhysicianName" placeholder="PrimaryCare Physician Name">
										</div>
										<div class="mb-3">
											<label for="PrimaryCarePhysicianPhone" class="form-label">PrimaryCare Physician Phone</label>
											<input type="number" class="form-control inputValidate" asp-for="PrimaryCarePhysicianPhone" placeholder="PrimaryCare Physician Phone">
										</div>
									</div>
								</div>

								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Allergies" class="form-label">Allergies</label>
											<input type="text" class="form-control inputValidate" asp-for="Allergies" placeholder="Allergies">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Medications" class="form-label">Medications</label>
											<input type="text" class="form-control inputValidate" asp-for="Medications" placeholder="Medications">
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="BloodType" class="form-label">BloodType</label>
											<select class="form-control inputValidate" asp-for="BloodType">
												<option value="">Select Blood Group</option>
												<option value="A">A</option>
												<option value="A+">A+</option>
												<option value="AB">AB+</option>
												<option value="O+">O+</option>
												<option value="B+">B+</option>
											</select>
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Height" class="form-label">Height</label>
											<input type="number" class="form-control inputValidate" asp-for="Height" placeholder="Height">
										</div>
									</div>

								</div>

								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Weight" class="form-label">Weight</label>
											<input type="number" class="form-control inputValidate" asp-for="Weight" placeholder="Weight">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="PreferredLanguage" class="form-label">Preferred Language</label>
											<input type="text" class="form-control inputValidate" asp-for="PreferredLanguage" placeholder="PreferredLanguage">
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Occupation" class="form-label">Occupation</label>
											<input type="text" class="form-control inputValidate" asp-for="Occupation" placeholder="Occupation">
										</div>

										 <!-- Form Field Start -->
										<div class="mb-3">
											<label for="file" class="form-label">Profile Image</label>
											@if (@Model!=null && !string.IsNullOrEmpty(Model.PImage))
											{
												<input type="file" class="form-control " id="file" asp-for="PImage">
											}
											else
											{
												<input type="file" class="form-control IsValidate" id="file" asp-for="PImage">
											}
											@if (Model != null && !string.IsNullOrEmpty(Model.PImage))
											{
												<img src="@Model.PImage" alt="Adhar Image" class="img-thumbnail" style="width: 125px; height: 55px;" />

											}
											
										</div>
									</div>	

								</div>
							</div>
						</div>
					</div>
					<div id="loader_spinner" style="display: none;" class="overlay-spinner"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" onclick="addPatient();">
							@if (Model != null && Model.PId != null)
							{
								<text>Save changes</text>
							
							}
							else
							{
								<text>Save</text>
							}

						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
	$(document).ready(function () {
		toggleRateVisibility();
	});

	var loadFile = function (event) {
		var image = document.getElementById("output");
		image.src = URL.createObjectURL(event.target.files[0]);
	};
	function IsValidate() {
		let isValid = true;
		$('.inputValidate').each(function () {
			const $this = $(this);
			console.log($this);
			if ($this.val().trim() === '' || $this.val().trim() == 0) {
				$this.addClass("border border-2 border-danger");
				if ($this.next('.error-message').length < 1) {
					$this.after('<div class="error-message text-danger">This Field Is Required</div>');
				}
				isValid = false;
			} else {
				$this.removeClass("border border-2 border-danger").addClass("border-success");
				$this.next('.error-message').remove();
			}
		});

		return isValid;
	}
	function addPatient() {
		debugger
		if (IsValidate()) {
			toggleRateVisibility();
			// Collect form data
			const patientData = {
				PId: $("#PId").val(),
				Name: $("#Name").val(),
				Phone: $("#Phone").val(),
				Email: $("#Email").val(),
				DateOfBirth: $("#DateOfBirth").val(),
				Address: $("#Address").val(),
				Gender: $("#Gender").val(),
				MedicalHistory: $("#MedicalHistory").val(),
				InsuranceInformation: $("#InsuranceInformation").val(),
				EmergencyContactName: $("#EmergencyContactName").val(),
				EmergencyContactPhone: $("#EmergencyContactPhone").val(),
				PrimaryCarePhysicianName: $("#PrimaryCarePhysicianName").val(),
				PrimaryCarePhysicianPhone: $("#PrimaryCarePhysicianPhone").val(),
				Allergies: $("#Allergies").val(),
				Medications: $("#Medications").val(),
				BloodType: $("#BloodType").val(),  
				Height: $("#Height").val(),
				Weight: $("#Weight").val(),
				PreferredLanguage: $("#PreferredLanguage").val(),
				Occupation: $("#Occupation").val()
			};
			Show_Loader();
			const formData = new FormData();
			formData.append("patientData", JSON.stringify(patientData));
			formData.append("file", $("#file").prop('files')[0]);
			// Debug: Log the formData contents
			for (const pair of formData.entries()) {
				console.log(pair[0] + ': ' + pair[1]);
			}

			$.ajax({
				url: '/PatientAddOrUpdate',
				type: 'POST',
				data: formData,
				contentType: false,
				processData: false,
				success: function (result) {
					setTimeout(function () {
						Hide_Loader();
						Info(result.statusCode, result.responseText);
						Onload();
					}, 1000);
				},
				error: function () {
					showerrors("Something went wrong!!!");
				}
			});
		}
	}


	function toggleRateVisibility() {
		var receiveRateInput = document.getElementById('MedicalHistory');
		var checkbox = document.getElementById('IsReceiveRateIncluded');
		receiveRateInput.style.display = checkbox.checked ? 'block' : 'none';
	}
	document.addEventListener('DOMContentLoaded', function () {
		toggleRateVisibility();
	});
</script>