@model Entities.Patient

<div class="card">
	<div class="card-body">
		<!-- Modal -->
		<div class="modal fade" id="Patient_Editmodal" tabindex="-1" aria-labelledby="Patient_EditmodalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="Patient_EditmodalTitle">
							Add or Update Patient
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">


						<div class="row gx-3">
							<div class="col-sm-12 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<input type="text" hidden asp-for="PId">
											<label for="Name" class="form-label">Full Name</label>
											<input type="text" class="form-control" asp-for="Name" placeholder="Full Name">
										</div>
										<div class="mb-3">
											<label for="Phone" class="form-label">Contact</label>
											<input type="number" class="form-control" asp-for="Phone" placeholder="Contact">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="Email" class="form-label">Email</label>
											<input type="email" class="form-control" asp-for="Email" placeholder="Email ID">
										</div>
										<div class="mb-3">
											<label for="DateOfBirth" class="form-label">Birthday</label>
											<input type="date" class="form-control datepicker-opens-left" asp-for="DateOfBirth" placeholder="DD/MM/YYYY">
										</div>
									</div>
								</div>
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<label for="Address" class="form-label">Address</label>
											<input type="text" class="form-control" asp-for="Address" placeholder="Address">
										</div>
										<div class="mb-3">
											<label for="Gender" class="form-label">Gender</label>
											<input type="text" class="form-control" asp-for="Gender" placeholder="Gender">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="MedicalHistory" class="form-label">Medical History</label>
											<input type="text" class="form-control" asp-for="MedicalHistory" placeholder="Medical History">
										</div>
										<div class="mb-3">
											<label for="InsuranceInformation" class="form-label">Insurance Information</label>
											<input type="text" class="form-control" asp-for="InsuranceInformation" placeholder="Insurance Information">
										</div>
									</div>
								</div>
								<div class="row gx-3">
									<div class="col-6">
										<div class="mb-3">
											<label for="EmergencyContactName" class="form-label">Emergency Contact Name</label>
											<input type="text" class="form-control" asp-for="EmergencyContactName" placeholder="Emergency ContactName">
										</div>
										<div class="mb-3">
											<label for="EmergencyContactPhone" class="form-label">Emergency Contact</label>
											<input type="number" class="form-control" asp-for="EmergencyContactPhone" placeholder="Emergency ContactPhone">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="PrimaryCarePhysicianName" class="form-label">PrimaryCare Physician Name</label>
											<input type="text" class="form-control" asp-for="PrimaryCarePhysicianName" placeholder="PrimaryCare PhysicianName">
										</div>
										<div class="mb-3">
											<label for="PrimaryCarePhysicianPhone" class="form-label">PrimaryCare Physician Phone</label>
											<input type="number" class="form-control" asp-for="PrimaryCarePhysicianPhone" placeholder="PrimaryCare PhysicianPhone">
										</div>
									</div>
								</div>

								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Allergies" class="form-label">Allergies</label>
											<input type="text" class="form-control" asp-for="Allergies" placeholder="Allergies">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Medications" class="form-label">Medications</label>
											<input type="text" class="form-control" asp-for="Medications" placeholder="Medications">
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="BloodType" class="form-label">BloodType</label>
											<select class="form-control" asp-for="BloodType">
												<option value="">select blood type</option>
												<option value="A">A</option>
												<option value="A+">A+</option>
												<option value="AB">AB+</option>
												<option value="O+">O+</option>
											</select>
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Height" class="form-label">Height</label>
											<input type="number" class="form-control" asp-for="Height" placeholder="Height">
										</div>
									</div>

								</div>

								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Weight" class="form-label">Weight</label>
											<input type="number" class="form-control" asp-for="Weight" placeholder="Weight">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="PreferredLanguage" class="form-label">Preferred Language</label>
											<input type="text" class="form-control" asp-for="PreferredLanguage" placeholder="PreferredLanguage">
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Occupation" class="form-label">Occupation</label>
											<input type="text" class="form-control" asp-for="Occupation" placeholder="Occupation">
										</div>

										 <!-- Form Field Start -->
										<div class="mb-3">
											@if (@Model!=null)
											{
												<img src="@Model.PImage" alt="Adhar Image" class="img-thumbnail" style="width: 125px; height: 55px;" />
											}
											<label for="file" class="form-label">Profile Image</label>
											<input type="file" class="form-control" id="file" placeholder="Profile Image">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary"  onclick="addPatient();">
							@if (Model != null && Model.PId != null)
							{
								<text>Save changes</text>
							
							}
							else
							{
								<text>Save</text>
							}

						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var loadFile = function (event) {
		var image = document.getElementById("output");
		image.src = URL.createObjectURL(event.target.files[0]);
	};
</script>