@{
    ViewData["Title"] = "PatientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th label {
        color: white;
    }</style>
<div class="content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Patients</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Patients</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="100000">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mb-2" id="txtemail"  placeholder="Search Email.." />&nbsp;&nbsp;
                                    <input type="text" class="form-control mb-2" id="txtpid" placeholder="Search Patient Id.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="EditPatient(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="tblPatient">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);-webkit-text-fill-color: #FFFFFF;">
                                    <tr>
                                        <th>
                                            <label>Name</label>
                                            
                                        </th>
                                        <th>
                                            <label>Profile Image</label>
                                            
                                        </th>
                                       
                                        <th>
                                            <label>Phone</label>
                                            
                                        </th>
                                        <th>
                                            <label>Emergency Contact Name</label>
                                            
                                        </th>
                                        <th>
                                            <label>Emergency Contact Phone</label>
                                            
                                        </th>

                                        <th> <label>Action</label></th>
                                    </tr>
                                </thead>
                                <tbody id="patientList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->

</div>
<div id="Patient_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   

    function Onload() {
        
        var param = {
            Id: $("#txtpid").val(),
            email: $("#txtemail").val(),
            PageLength: $("#ddltop").val(),
        }
        $.post('/_PatientList', param).done(function (res) {
            $("#patientList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();

    jQuery(document).ready(function ($) {
        $("#dTable").DataTable();
    });

    function PatientDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/P_Details", param)
            .done(function (res) {
                $("#Patient_modalPV").html(res);
                $("#Patient_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function EditPatient(PId) {
        let param = {
            id: PId,
        };
        $.get("/EditPatient", param).done(function (res) {
            console.log(res);
            $("#Patient_modalPV").html(res);
            $("#Patient_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function doctorStatus(dId) {
        var id = $("#customSwitch3_" + dId).prop("checked");
        if (id == true) {
            id = 1;

        }
        else {
            id = 0;
        }
        var param = {
            DrId: dId,
            Status: id,
        };
        console.log(param);
        $.post("/Employee/UpdateEmployeeStatus", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }




 

</script>