@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Change Password</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="login-box rounded-2 p-5">
                <div class="login-form card-body">

                    <div class="row">
                        <center>
                            <div class="col-md-6 card" style="padding:10px;">
                                <h5 class="">
                                    <strong>
                                        To access your account and initiate a password change, kindly input the current password associated with your account.
                                    </strong>
                                </h5>
                                <br />
                                <div class="mb-3">
                                    <label class="form-label d-flex text-left">Current Password</label>
                                    <input type="text" class="form-control" id="CurrentPassword" placeholder="Enter your Current Password" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label d-flex text-left">New Password</label>
                                    <input type="text" class="form-control" id="NewPassword" placeholder="Enter your New Password" />
                                </div>
                                <div class="d-grid pt-3" onclick="ChangePassword();">
                                    <button type="submit" class="btn btn-lg btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function ChangePassword() {
        debugger;
        var currentPassword = $("#CurrentPassword").val();
        var newPassword = $("#NewPassword").val();

        var formData = {
            CurrentPassword: currentPassword,
            NewPassword: newPassword
        };

        $.post("/Account/SaveChangePassword", formData).done(function (res) {

            Info(1, 'Done');
            console.log(res);

        }).fail(function () {
            Hide_Loader();
            showerrors("Something went wrong!!!");
        });
    }


</script>
