@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<style>
    .validate {
        border-radius: 20px;
        height: 40px;
        background-color: red;
        border: 1px solid red;
        width: 140px
    }

    .validate1 {
        border-radius: 20px;
        height: 40px;
        background-color: green;
        border: 1px solid green;
        width: 140px
    }

    .form-control:focus {
        box-shadow: none;
        border: 2px solid red
    }
</style>
<!-- Login box start -->


<div class="my-auto">
    <!-- title-->
    <h4 class="mt-0">Sign In</h4>
    <p class="text-muted mb-4">Enter your email address and password to access account.</p>
    <div id="loader_spinner" style="display: none;" class="overlay-spinner"></div>
    <!-- form -->
    <div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input class="form-control" type="email" id="Email" required="" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <a href="/ForgotPassword" class="text-muted float-end"><small>Forgot your password?</small></a>
            <label for="Password" class="form-label">Password</label>
            <input class="form-control" type="password" required="" id="Password" placeholder="Enter your password">
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                <label class="form-check-label" for="checkbox-signin">Remember me</label>
            </div>
        </div>
      
        <div class="d-grid mb-0 text-center">
            <button class="btn btn-primary" type="submit" id="btnhide2" onclick="loginUser();"><i class="mdi mdi-login"></i> Log In </button>
        </div>
      
    </div>
    <!-- end form-->
</div>
<footer class="footer footer-alt">
    <p class="text-muted">Don't have an account? <a href="/Register" class="text-muted ms-1"><b>Sign Up</b></a></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function loginUser() {
        var className = "cls";
        //var clss = document.querySelector("." + className);
        if (IsValidate(className)) {
            var email = $("#Email").val();
            var password = $("#Password").val();
            sessionStorage.setItem('loginuseremail', email);
            Show_Loader();
            var formData = {
                Email: email,
                Password: password
            };

            $.post("/Account/Login", formData).done(function (res) {
                setTimeout(function () {
                    Hide_Loader();
                    if (res.statusCode == 1) {
                        Info(1, 'Login successfully!!');
                        window.location.href = `${res.redirectUrl}`;
                    }
                }, 1000);
           
                if (res.statusCode == 4) {
                        sessionStorage.setItem('emailtype', "EVFUNLOCK");
                        window.location.href = "/IsVerified-User";
                }
                if (res.statusCode == -2) {
                    sessionStorage.setItem('emailtype', "NEV");
                    window.location.href = "/IsVerified-User";
                }
                if (res.statusCode == -1) {
                    Info(res.statusCode, res.responseText);
                }
                    
            }).fail(function () {
                showerrors("Something went wrong!!!");
            });
        }
    }

  
</script>
