@model API.DBContext.Entities.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="container">
    <div class="login-box rounded-2 p-5">
            <h5 class="my-5">Create an Account.</h5>
            <form id="registerForm">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter your name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" id="Email" name="Email" class="form-control" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone No</label>
                    <input type="tel" id="PhoneNo" name="PhoneNo" class="form-control" placeholder="Enter your Phone No" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <select class="form-control" id="Role" name="Role" required>
                        <option value="">:: Select Role ::</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter your password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm your password" required>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="agreeTerms" required>
                    <label class="form-check-label" for="agreeTerms">I agree to the terms and conditions</label>
                </div>
                <div class="d-grid py-3">
                    <button type="submit" id="btnregister" class="btn btn-lg btn-primary">
                        Sign up
                    </button>
                </div>
            </form>
           @*  <div class="text-center py-3">or Signup with</div>
            <div class="d-flex gap-2 justify-content-center">
                <button type="button" class="btn btn-outline-light">
                    <img src="assets/images/google.svg" class="login-icon" alt="Login with Google" />
                </button>
                <button type="button" class="btn btn-outline-light">
                    <img src="assets/images/facebook.svg" class="login-icon" alt="Login with Facebook" />
                </button>
            </div> *@
            <div class="text-center pt-3">
                <span>Already have an account?</span>
                <a href="login.html" class="text-blue text-decoration-underline ms-2">Login here</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#togglePassword").click(function () {
            var passwordInput = $("#Password");
            var type = passwordInput.attr("type") === "password" ? "text" : "password";
            passwordInput.attr("type", type);
            $(this).toggleClass("fa-eye fa-eye-slash");
        });
        $("#btnregister").click(function () {
            RegisterUsers();
        
        });
    });

    function RegisterUsers() {
        var param = {
            Name: $("#Name").val(),
            Email: $("#Email").val(),
            PhoneNo: $("#PhoneNo").val(),
            Role: $("#Role").val(),
            Password: $("#Password").val(),
            ConfirmPassword: $("#ConfirmPassword").val(),
        };

        if (validateUser(param)) {
            $.post("/Account/Register", param)
                .done(function (res) {
                    if (res === 1) {
                        setTimeout(function () {
                            Info(1, "Register Successful!");
                        }, 1000);

                        window.location.href = "/Account/Login";
                    } else {
                        Info(-1,"Registration failed. Please try again.");
                    }
                })
                .fail(function (xhr) {
                    Info(-1, xhr.responseText);
                });
        }
    }

    function validateUser(param) {
        if (param.Password !== param.ConfirmPassword) {
            showerrors("Passwords do not match!");
            return false;
        }
        return true;
    }

</script>
