

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<p>
    <input onclick='$("#bulkemail").modal("show");' class="btn btn-lg btn-primary" id="btnmodal" value="Create Message" type="submit">
</p>
<div>
    <input type="radio" id="singleSelect" name="selectionMode" checked>
    <label for="singleSelect">Single Select</label>
    <input type="radio" id="multiSelect" name="selectionMode">
    <label for="multiSelect">Multi Select</label>
    <input type="radio" id="selectAll" name="selectionMode">
    <label for="selectAll">Select All</label>
</div>
<table class="table" id="tbluser">
    <thead>
        <tr>
            <th hidden>
                <label>Id</label>
            </th>
            <th></th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>UserName</label>
            </th>
            <th>
                <label>Role</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="card-body">
    <div class="modal fade" id="bulkemail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Write a message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Subject</label>
                                <input type="text" id="txtSubject" class="form-control cls" />
                            </div>
                            <div class="col-sm-6">
                                <label>Image</label>
                                <input type="file" id="txtImage" class="form-control cls" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Message</label>
                                <textarea id="txtMessage" class="form-control cls"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-grid pt-3">
                                <button class="btn btn-lg btn-primary btn-block" type="button" id="btnsendEmail">
                                    <span id="sendSpin" role="status" aria-hidden="true"></span>
                                    Sending
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const singleSelectRadio = document.getElementById('singleSelect');
        const multiSelectRadio = document.getElementById('multiSelect');
        const selectAllRadio = document.getElementById('selectAll');
        const userCheckboxes = document.querySelectorAll('.userCheckbox');

        singleSelectRadio.addEventListener('change', function () {
            if (this.checked) {
                userCheckboxes.forEach(function (checkbox) {
                    checkbox.type = 'radio';
                });
            }
        });

        multiSelectRadio.addEventListener('change', function () {
            if (this.checked) {
                userCheckboxes.forEach(function (checkbox) {
                    checkbox.type = 'checkbox';
                });
            }
        });

        selectAllRadio.addEventListener('change', function () {
            if (this.checked) {
                userCheckboxes.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
            }
        });

        function getSelectedEmails() {
            debugger;
            const selectedEmails = [];
            userCheckboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    const userEmail = checkbox.parentElement.nextElementSibling.innerText;
                    selectedEmails.push(userEmail);
                }
            });
            return selectedEmails;
        }

        document.getElementById('btnsendEmail').addEventListener('click', function () {
            const selectedEmails = getSelectedEmails();
            if (selectedEmails.length > 0) {
                console.log('Selected emails:', selectedEmails);
                // Do something with selected emails, like sending them
                // For example:
                sendBulkEmails(selectedEmails);
            } else {
                alert("Please select at least one email.");
            }
        });
        loadData();
        function sendBulkEmails(emailList) {
            document.getElementById("sendSpin").classList.add("spinner-border", "spinner-border-sm", "spinner-1x");
            document.getElementById("btnsendEmail").innerHTML = "Sending...";

            if (IsValidate("cls")) {
                var subject = $("#txtSubject").val();
                var message = $("#txtMessage").val();
                var imageFile = $('#txtImage')[0].files[0];

                var emailDataArray = emailList.map(function (email) {
                    return {
                        Emails: email,
                        Subject: subject,
                        ImagePath: imageFile ? imageFile.name : "",
                        Message: message
                    };
                });

                var formData = new FormData();
                formData.append("emailDataArray", JSON.stringify(emailDataArray));
                if (imageFile) {
                    formData.append("imageFile", imageFile);
                }

                $.ajax({
                    url: '/Email/SendBulkEmails',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            }
        }


    });

    var loadData = function () {
        $.get('/_UserList').done(function (res) {
            $('#tbluser tbody').html(res);
        }).fail(function (xhr) {
             console.log(xhr.responseText);
        });
    }
</script>