

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content wrapper start -->
<div class="content-wrapper">
    <!-- Row start -->
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Create Invoice</div>
                </div>
                <div class="card-body">
                    <div class="create-invoice-wrapper">


<div>
    <input type="radio" id="singleSelect" name="selectionMode" hidden checked>
                            <label for="singleSelect" hidden>Single Select</label>
                            <input type="radio" id="multiSelect" name="selectionMode" hidden>
                            <label for="multiSelect" hidden>Multi Select</label>
   @*  <input type="radio" id="selectAll" name="selectionMode"> *@
                            <label for="selectAll" hidden>Select All</label>
</div>

                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                                <li class="breadcrumb-item active">Products</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Products</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col-sm-5">
                                                    <a onclick="addNewUser();" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add New</a>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="text-sm-end">
                                                        <button type="button" class="btn btn-primary mb-2" id="btnmsg" onclick='$("#bulkemail").modal("show");' disabled>Create Message</button>
                                                    </div>
                                                </div><!-- end col-->
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-centered w-100 dt-responsive nowrap" id="tbluser">
                                                    <thead class="table-dark">
                                                        <tr class="text-white">
                                                            <th hidden>
                                                                <label>Id</label>
                                                            </th>
                                                            <th><input type="radio" id="selectAll" onchange="onselectAll();" name="selectionMode"></th>
                                                            <th>
                                                                <label>Name</label>
                                                            </th>
                                                            <th>
                                                                <label class="all">Email</label>
                                                            </th>
                                                            <th>
                                                                <label>Role</label>
                                                            </th>
                                                            <th>
                                                                <label>Password</label>
                                                            </th>
                                                            <th>
                                                                <label>Account</label>
                                                            </th>
                                                            <th>
                                                                <label>Email Verified</label>
                                                            </th>
                                                            <th>
                                                                <label>Temp Locked</label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> <!-- end card-body-->
                                    </div> <!-- end card-->
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->

                        </div>



<div class="card-body">
    <div class="modal fade" id="bulkemail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Write a message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Subject</label>
                                <input type="text" id="txtSubject" class="form-control cls" />
                            </div>
                            <div class="col-sm-6">
                                <label>Image</label>
                                <input type="file" id="txtImage" class="form-control cls" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Message</label>
                                <textarea id="txtMessage" class="form-control cls"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-grid pt-3">
                                <button class="btn btn-lg btn-primary btn-block" type="button" id="btnsendEmail">
                                    <span id="sendSpin" role="status" aria-hidden="true"></span>
                                    Sending
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="modal fade" id="mpassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mr. <span id="username"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <center>
                            <label> Your Password: <span><strong id="decpass" style="Color:Green"></strong></span></label>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div></div></div></div></div></div>
<div id="partailview"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $("#tbluser").DataTable();
        
    });
    function onselectAll() 
    {
        $("#btnmsg").prop('disabled', false);
    }
    var loadData = function () {
        $.get('/_UserList').done(function (res) {
            $('#tbluser tbody').html(res);
        }).fail(function (xhr) {
             console.log(xhr.responseText);
        });
    }
    loadData();
    var addNewUser = function () {
        $.get('/AddNewUser').done(function (res) {
            $('#partailview').html(res);
            $("#addNewUser_modal").modal("show");
        }).fail(function (xhr) {
            console.log(xhr.responseText);
        });
    }

     function ShowPassword(pass, name) {
        $.post('/DecriptPassword', { HashPass: pass }).done(function (res) {
            debugger;
            console.log("Decrypted password:", res);
            $("#decpass").text(res);
            $("#username").text(name);
            $("#mpassword").modal("show");
        }).fail(function (xhr) {
            console.log("Error:", xhr.responseText);
        });
    }
    function UserStatus(id) {
        debugger;
        var param = {
            UserId: id,
            IsActive: $("#IsActive" + id).prop("checked"),
            IsVerified: $("#IsVerified" + id).prop("checked"),
            IsLocked: $("#IsLocked" + id).prop("checked"),
        };
        console.log(param);
        $.post("/UpdateUserStatus", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }



</script>