@{
    ViewData["Title"] = "About Us";
    Layout = "_LayoutSiteAdmin";
}

 <!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">About Us</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">About</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">About Us</h5>
                    <h1 class="display-5 mb-0">The World's Best Dental Clinic That You Can Trust</h1>
                </div>
                <h6 class="text-body fst-italic mb-4">At DCS, we understand the importance of providing top-notch dental care that you can trust. With our team of experienced professionals, cutting-edge technology, and commitment to excellence, we strive to ensure that every patient receives the highest quality treatment in a comfortable and welcoming environment.</h6>
                <p class="mb-4">DCS is one of the finest dental clinics in Lucknow and is known to give outstanding results to every patient stepping inside the clinic. Possessing the best crew of dentists in Lucknow, DCS is enough to opt for any sort of dental treatment without any doubt or fear. With a home-like environment, this place is a perfect combination of a soothing ambiance, caring staff members, and eminently skilled dentists.</p>
                <p class="mb-4"><strong>Our mission is simple :</strong> to help you achieve and maintain optimal oral health while enhancing the natural beauty of your smile. Whether you're due for a routine check-up, interested in cosmetic dentistry services, or in need of restorative treatments, we're here to serve you with personalized care tailored to your unique needs.</p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Award Winning</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>24/7 Opened</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Fair Prices</h5>
                    </div>
                </div>
                <a href="/appointment" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Make Appointment</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/user/img/d2.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<center>
    <a class="btn btn-dark">Why choose us ?</a>
</center>
<br />

<!-- About End -->
<div class="container-fluid py-5">
   <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">1: Certified Excellence</h6>
                    <h5>Our clinic is proud to be certified and recognized for our commitment to exceptional dental care.</h5>
                  @*   <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">2: Award-Winning Service</h6>
                    <h5>We have been honored with prestigious awards for our dedication to patient satisfaction and clinical excellence.</h5>
             @*        <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">3: Experienced Professionals</h6>
                    <h5> Our team consists of highly skilled dentists, hygienists, and support staff who are passionate about delivering outstanding results.</h5>
                @*     <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">4: State-of-the-Art Technology</h6>
                    <h5>We invest in the latest dental technologies and techniques to ensure that you receive the most advanced and effective treatments available.</h5>
                    @* <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">5: Warm and Welcoming Environment</h6>
                    <h5>Your comfort is our priority. From the moment you step into our clinic, you'll be greeted with friendly smiles and personalized attention.</h5>
                @*     <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h6 class="position-relative d-inline-block text-primary text-uppercase">6: Comprehensive Care</h6>
                    <h5>Whether you need preventive, restorative, or cosmetic services, we offer a full range of dental treatments to address all of your oral health needs.</h5>
                  @*   <a href="/appointment" class="btn btn-primary py-3 px-5">Appointment</a> *@
                </div>
            </div>
        </div>
    </div>
</div>
