@{
    ViewData["Title"] = "APIViews";
    Layout = null;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.52.5/swagger-ui.css" rel="stylesheet" media="screen" type="text/css" />
<link href="~/dcs/swagger-custom-style.css" rel="stylesheet" media="screen" type="text/css" />

<div class="card">
    <div class="card-header">
        <h3>API<button class="btn btn-primary float-right" id="b2d"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;Back To Dashboard</button></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="swagger-ui"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.52.5/swagger-ui-bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.52.5/swagger-ui-standalone-preset.js"></script>

<script>
    window.onload = function () {
        const ui = SwaggerUIBundle({
            url: `${window.location.origin}/swagger/v1/swagger.json`,
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            layout: "StandaloneLayout"
        });
        window.ui = ui;

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()?.trim()).select();
            document.execCommand("copy");
            $temp.remove();
            Q.notify(1, "Copied");
        }

        $("#b2d").click(function () {
            window.location.href = "/StudentManagement/StuIndex";
        });
    };
</script>
