@{
    ViewData["Title"] = "Contact";
    Layout = "_LayoutSiteAdmin";
}
@model Entities.Contact
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Contact Us</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Contact</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded h-100 p-5">
                    <div class="section-title">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Contact Us</h5>
                        <h1 class="display-6 mb-4">Feel Free To Contact Us</h1>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Our Office</h5>
                            <span>123 Street, New York, USA</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Email Us</h5>
                            <span>info@example.com</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">Call Us</h5>
                            <span>+012 345 6789</span>
                        </div>
                    </div>
                </div>
            </div>
   <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
       <div class="row g-3">
           <div class="col-12">
                            <input type="text" class="form-control border-0 bg-light px-4 inputValidate" id="Name" placeholder="Your Name" name="name" style="height: 55px;">
           </div>
           <div class="col-12">
                            <input type="email" class="form-control border-0 bg-light px-4 inputValidate" id="Email" placeholder="Your Email" name="email" style="height: 55px;">
           </div>
           <div class="col-12">
                            <input type="text" class="form-control border-0 bg-light px-4 inputValidate" id="Subject" placeholder="Subject" name="subject" style="height: 55px;">
           </div>
           <div class="col-12">
                            <textarea class="form-control border-0 bg-light px-4 py-3 inputValidate" rows="5" name="message" id="Message" placeholder="Message"></textarea>
           </div>
           <div class="col-12">
               <button class="btn btn-primary w-100 py-3" type="submit" onclick="Contact();">Send Message</button>
           </div>
       </div>
                
   </div>


            <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113911.20608790353!2d80.72953973097289!3d26.848691645340725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd991f32b16b%3A0x93ccba8909978be7!2sLucknow%2C%20Uttar%20Pradesh%2C%20India!5e0!3m2!1sen!2sbd!4v1725534272595!5m2!1sen!2sbd" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Contact() {
        if (IsValidate()) {
            let ContactData = {
                Name: $("#Name").val(),
                Email: $("#Email").val(),
                Subject: $("#Subject").val(),
                Message: $("#Message").val()
            };

            Show_Loader();

            $.ajax({
                url: '/Home/Contacts',
                type: 'POST',
                contentType: 'application/json',
                data: ContactData,

                contentType: false,
                processData: false,
                success: function (result) {
                    Hide_Loader();
                        Info(result.statusCode, result.responseText);
                   
                },
                error: function (xhr, status, error) {
                    Hide_Loader();
                    showerrors("Something went wrong: " + (xhr.responseText || error));
                }
            });
        }
    }

</script>


