@{
    ViewData["Title"] = "AppointmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    th label {
    color:white;
}</style>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h4></h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active"> User List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Form Advanced</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Form Advanced</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="100000">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="date" class="form-control form-control-light mb-2" id="txtdate" style="width:70px;"/>
                                    <input type="text" class="form-control mb-2" id="txtpid" placeholder="enter patient id" />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editAppointment(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                   @*  <button type="button" class="btn btn-light mb-2">Export</button> *@
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="tblAppointment">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr>
                                        <th><label>S.N#</label></th>
                                        <th><label>Doctor</label></th>
                                        <th><label>Patient</label></th>
                                        <th><label>Service</label></th>
                                        <th><label>Email</label></th>
                                        <th><label>Date</label></th>
                                        <th><label>Status</label></th>
                                        <th><label>Notes</label></th>
                                        <th><label>Entry On</label></th>
                                        <th><label>Action</label></></th>
                                    </tr>
                                </thead>
                                <tbody id="tblAppointmentbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>

<div id="Appointment_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type ="text/javascript">
    $(document).ready(function () {
        $('#tblAppointment').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

    function Onload() {
        debugger;
        var param = {
            Date: $("#txtdate").val(),
            Id: $("#txtpid").val(),
            PageLength: $("#ddltop").val(),
        }
        $.post('/A-List', param).done(function (res) {
            $("#tblAppointmentbody").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();

    function editAppointment(dId) {
        let param = {
            id: dId,
        };
        $.get("/editAppointment", param).done(function (res) {
            console.log(res);
            $("#Appointment_modalPV").html(res);
            $("#Appointment_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }

        function TakeAppointment() {
            var formData = new FormData();
            var appointmentData = {
                DrId: $("#ddldoctor").val(),
                ServiceId: $("#ddlservice").val(),
                Name: $("#txtname").val(),
                Email: $("#txtemail").val(),
                PhoneNo: $("#txtnum").val(),
                Date: $(".datetimepicker-input").val(),
                AppointmentId: 0,
                ProjectId: 0,
                PId: 0,
                CreatedOn: "",
                Notes: "",
                Status: 0,
            };
            formData.append("appointmentData", JSON.stringify(appointmentData));

            $.ajax({
                url: '/A-AddOrUpdate',
                type: 'POST',
                data: formData,
                contentType: false, 
                processData: false, 
                success: function (result) {
                    setTimeout(function () {
                        Info(result.statusCode, result.responseText);
                    }, 1000);
                },
                error: function () {
                    showerrors("Something went wrong!!!");
                }
            });
        }

</script>
