@{
    ViewData["Title"] = "AppointmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<!-- DataTables Buttons extension CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
<!-- DataTables Buttons extension JS -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<!-- Additional dependencies for export buttons -->
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<!-- Start Content-->
    <div class="content">

       
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Form Advanced</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Form Advanced</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="date" class="form-control mb-2" id="txtdate" placeholder="search date.."  style="width:70px;"/>
                                    <input type="text" class="form-control mb-2" id="txtpid" placeholder="enter patient id" />
                                    <button class="btn btn-info mb-2" onclick="Onload" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button>
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editAppointment(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="tblAppointment">
                                <thead class="table-light">
                                    <tr>
                                        <th>Appointment ID</th>
                                        <th>Doctor ID</th>
                                        <th>Patient ID</th>
                                        <th>Service ID</th>
                                        <th>Email</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Status</th>
                                        <th>Notes</th>
                                        <th>Created On</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tblAppointmentbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->
        </div> <!-- container -->

    </div> <!-- content -->

<div id="Appointment_modalPV"></div>
<script type ="text/javascript">
    $(document).ready(function () {
        $('#tblAppointment').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

    function Onload() {
        var param = {
            date: $("#txtdate").val(),
            PId: $("#txtpid").val(),
        }
        $.post('/A-List', param).done(function (res) {
            $("#tblAppointmentbody").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    //Onload();

    function editAppointment(dId) {
        let param = {
            id: dId,
        };
        $.get("/editAppointment", param).done(function (res) {
            console.log(res);
            $("#Appointment_modalPV").html(res);
            $("#Appointment_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }

    function doctorAppointment(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#Appointment_modalPV").html(res);
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }
</script>
