@model Entities.Appointment

<link rel="stylesheet" href="../assets/vendor/dropzone/dropzone.min.css" />
<div class="card">
	<div class="card-body">
		<div class="modal fade" id="Appointment_Editmodal" tabindex="-1" aria-labelledby="Appointment_EditmodalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-body">
                        <div class="container-fluid bg-appointment mb-5 wow fadeInUp" data-wow-delay="0.1s" style="background-color:cadetblue;">
                            <div class="container">
                                <div class="row gx-5">
                                    <div class="col-lg-12">
                                        <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                                            <h1 class="text-white mb-4">Make Appointment</h1>
                                            <form>
                                                <div class="row g-3">
                                                    <div class="col-12 col-sm-6">
                                                        <select class="form-select bg-light border-0" id="ddlservice" style="height: 55px;">
                                                            <option selected>Select A Service</option>
                                                            <option value="4">Service 1</option>
                                                            <option value="5">Service 2</option>
                                                            <option value="2">Service 3</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <select class="form-select bg-light border-0" id="ddldoctor" style="height: 55px;">
                                                            <option selected>Select Doctor</option>
                                                            <option value="102">Doctor 1</option>
                                                            <option value="104">Doctor 2</option>
                                                            <option value="105">Doctor 3</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input type="text" class="form-control bg-light border-0" id="txtname" placeholder="Your Name" style="height: 55px;">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input type="email" class="form-control bg-light border-0" id="txtemail" placeholder="Your Email" style="height: 55px;">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input type="number" class="form-control bg-light border-0" min="10" id="txtnum" maxlength="10" placeholder="Your Phone No." style="height: 55px;">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <div class="date" id="date1" data-target-input="nearest">
                                                            <input type="date"
                                                                   class="form-control bg-light border-0 datetimepicker-input"
                                                                   placeholder="Appointment Date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-dark w-100 py-3" onclick="TakeAppointment();" type="submit">Make Appointment</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" onclick="addPatient();">
							@if (Model != null && Model.PId != null)
							{
								<text>Save changes</text>

							}
							else
							{
								<text>Save</text>
							}

						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var loadFile = function (event) {
		var image = document.getElementById("output");
		image.src = URL.createObjectURL(event.target.files[0]);
	};
</script>