@model Entities.HospitalServices
@{
	ViewData["Title"] = "HospitalServices";
	Layout = null;
}
<div class="card">
	<div class="card-body">
		<!-- Modal -->
		<div class="modal fade" id="HospitalServices_modal" tabindex="-1" aria-labelledby="HospitalServices_modalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="HospitalServices_modalTitle">
							Add or Update Hospital Services
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">



						<div class="row gx-3">
							<div class="col-sm-8 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<input type="text" class="form-control" asp-for="ServiceID" hidden>
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="ServiceName" class="form-label">Service Name</label>
											<input type="text" class="form-control" asp-for="ServiceName" placeholder="Full Name">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Price" class="form-label">Price</label>
											<input type="number" class="form-control" asp-for="Price" placeholder="Price">
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="file" class="form-label">Image</label>
											<input type="file" class="form-control" id="file" >
										</div>
										<div class="mb-3">
											<label for="Description" class="form-label">Description</label>
											<textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-secondary" onclick="addHospitalServices();">
							@if (Model != null && Model.ServiceID != null)
							{
								<text>Update</text>

							}
							else
							{
								<text>Save</text>
							}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



