@using API.Claims
 @{
    ViewData["Title"] = "HospitalServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? role = User.GetLoggedInUserRole();
}
<style>
    th label {
        color: white;
    }</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop" onchange="Onload();">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    @if (role=="Admin")
                                    {
                                        <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                            <div class="col-auto mb-2">
                                                <select class="form-control" id="ddlproid">
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <input type="text" class="form-control mb-2" id="txtname" placeholder="Search Name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editHospitalServices(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr class="text-light">
                                        <th scope="col" id="label-service-id">
                                            <label for="service-id">Service Id</label>
                                        </th>
                                        <th scope="col" id="label-service-name">
                                            <label for="service-name">Service Name</label>
                                        </th>
                                        <th scope="col" id="label-service-image">
                                            <label for="service-image">Service Profile</label>
                                        </th>
                                        <th scope="col" id="label-description">
                                            <label for="description">Description</label>
                                        </th>
                                        <th scope="col" id="label-price">
                                            <label for="price">Price</label>
                                        </th>
                                        <th scope="col" id="label-entry-on">
                                            <label for="entry-on">Entry On</label>
                                        </th>
                                        <th scope="col" id="label-status">
                                            <label for="status">Status</label>
                                        </th>
                                        <th scope="col" id="label-action">
                                            <label for="action">Action</label>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody id="hSList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="hospitalServicesPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        Onload();
        OnloadProjectId();
    });

    function Onload() {
        var projectId = 0;
        projectId = $("#ddlproid").val();
        var param = {
            name: $("#txtname").val(),
            ProjectId: projectId,
            PageLength: $("#ddltop").val(),
        };
        $.post('/_HospitalServicesList', param).done(function (res) {
            $("#hSList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    
    function OnloadProjectId() {
        $.post('/UserListInJson').done(function (res) {
            var options = '<option value="0">Project Id</option>';
            for (var i = 0; i < res.length; i++) {
                options += '<option value="' + res[i].projectId + '">' + res[i].projectId + '</option>';
            }
            $('#ddlproid').html(options);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    function editHospitalServices(Id) {
        let param = {
            id: Id,
        };
        $.get("/EditHospitalServices", param).done(function (res) {
            console.log(res);
            $("#hospitalServicesPV").html(res);
            $("#HospitalServices_modal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }

    function changeHS_Status(Id) {
        let param = {
            Id: Id,
            Status: $("#IsVerified_" + Id).prop('checked'),
        };
        $.post("/HS_Status", param)
            .done(function (result) {
               Info(result.statusCode, result.responseText);
                Onload();
            })
            .fail(function (xhr) {
                Info(-1, xhr.responseText);
            });
    }

</script>
