@using API.Claims
@{
    ViewData["Title"] = "Invoice";
    string? role = User.GetLoggedInUserRole();
}
<style>
    th label {
        color: white;
    }</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);"></a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Email Template</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop" onchange="Onload();">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    @if (role=="Admin")
                                    {
                                        <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                            <div class="col-auto mb-2">
                                                <select class="form-control" id="ddlproid">
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <input type="text" class="form-control mb-2" id="txtname" onchange=" Onload();" placeholder="search subject.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="addNewInvoice()" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> *@
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive card">
                            <table class="table table-hover dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr>
                                        <th>
                                            <label>Sr.No</label>
                                        </th>
                                        <th>
                                            <label>Name</label>
                                        </th>
                                        <th>
                                            <label>Email</label>
                                        </th>
                                        <th>
                                            <label>Total Amount</label>
                                        </th>
                                        <th>
                                            <label>Date</label>
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="invoceData">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="invoic_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function Onload() {
        var projectId = 0;
        projectId = $("#ddlproid").val();
        var param = {
            name: $("#txtname").val(),
            ProjectId: projectId,
            PageLength: $("#ddltop").val(),
        };
        $.post('/_InvoiceList', param).done(function (res) {
            $("#invoceData").html(res);
        }).fail(function () {
            alert("error");
        });
    }

    Onload();
    function OnloadProjectId() {
        $.post('/UserListInJson').done(function (res) {
            var options = '<option value="0">Project Id</option>';
            for (var i = 0; i < res.length; i++) {
                options += '<option value="' + res[i].projectId + '">' + res[i].projectId + '</option>';
            }
            $('#ddlproid').html(options);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    OnloadProjectId();



    function emailTemplateDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#invoic_modalPV").html(res);
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function addNewInvoice() {
        $.get("/Add-Invoice")
            .done(function (res) {
                $("#invoic_modalPV").html(res);
                $("#AddInvoice_Modal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }


    function sendInvoiceInEmail(id,email) {
        debugger;
        let param = {
            id: id,
        };

        $.post("/EmailInvoiceTemplate", param)
            .done(function (res) {
                console.log(res);
                let sendEmailInvoice = {
                    Invoice: res,
                    Email: email,
                    Subject: "Your Invoice",
                };

                $.post("/SendEmailInvoice", sendEmailInvoice)
                    .done(function () {
                        console.log("Email sent successfully");
                    })
                    .fail(function (err) {
                        console.error("Error sending email:", err);
                        alert("Error sending email");
                    });
            })
            .fail(function (xhr) {
                console.error("Error fetching invoice template:", xhr);
                alert("Error fetching invoice template");
            });
    }


    function invoiceReport(id) {
        window.open("/Invoice-Report?id=" + id, "_blank");
    }


    function doctorStatus(dId) {
        var id = $("#customSwitch3_" + dId).prop("checked");
        if (id == true) {
            id = 1;

        }
        else {
            id = 0;
        }
        var param = {
            DrId: dId,
            Status: id,
        };
        console.log(param);
        $.post("/Employee/UpdateEmployeeStatus", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }


    function addEmailTemplate() {
        debugger;
        var status = $("#Status").prop('checked')
        var emailstatus = 0;
        if (status == true) {
            emailstatus = 1;
        }
        let emailTemplate = {
            TemplateID: $("#EmailTemplates_TemplateID").val(),
            ProjectId: $("#EmailTemplates_ProjectId").val(),
            EmailType: $("#EmailTemplates_EmailType").val(),
            Subject: $("#EmailTemplates_Subject").val(),
            Content: $("#EmailTemplates_Content").val(),
            Status: emailstatus,
        };

        const formData = new FormData();
        formData.append("emailTemplate", JSON.stringify(emailTemplate));
        formData.append("file", $("#file").prop('files')[0]);
        for (const pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }

        $.ajax({
            url: '/EmailTemplateAddOrUpdate',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                Info(result.statusCode, result.responseText);
                Onload();
            },
            error: function () {
                showerrors("Something went wrong!!!");
            }
        });
    }

</script>