<!DOCTYPE html>

@using Entities
@using DCS.Layout
@model Project
@{
    Project project = new Project();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Meta -->
    <meta name="description" content="@project.ProjectName" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin @project.ProjectName">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <title>@project.ProjectName</title>
   <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="~/assets/js/hyper-config.js"></script>

    <!-- App css -->
    <link href="~/assets/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="~/Spinner.css" rel="stylesheet" type="text/css"/>
    <!-- Icons css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="authentication-bg pb-0">

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="card-body d-flex flex-column h-100 gap-3">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <a href="index.html" class="logo-dark">
                        <span><img src="../assets/images/logo-dark.png" alt="dark logo" height="22"></span>
                    </a>
                    <a href="index.html" class="logo-light">
                        <span><img src="../assets/images/logo.png" alt="logo" height="22"></span>
                    </a>
                </div>

        @RenderBody()
        <!-- Footer-->
      

    </div>
        </div>
        <div class="auth-fluid-right text-center">
            <div class="auth-user-testimonial">
                <h2 class="mb-3">I love the color!</h2>
                <p class="lead">
                    <i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i class="mdi mdi-format-quote-close"></i>
                </p>
                <p>
                    - Hyper Admin User
                </p>
            </div>
        </div>
    </div>
    

    <div class="alert-container" style="
position: fixed;
top: 65px;
right: 4px;
z-index: 1000"></div>
    <script src="~/dcs/js/common.js"></script>
    <script src="~/assets/js/vendor.min.js"></script>>
    <script src="~/assets/js/app.min.js"></script>
</body>
</html>


