@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">


    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control mb-2" id="txtname" onchange=" Onload();" placeholder="search name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editPlan(0);" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> *@
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead>
                                    <tr>
                                        <th>
                                            <label>Service ID</label>
                                        </th>
                                        <th>
                                            <label>Service Name</label>
                                        </th>
                                        <th>
                                            <label>Description</label>
                                        </th>
                                        <th>
                                            <label>Price</label>
                                        </th>
                                        <th>
                                            <label>Discounts</label>
                                        </th>
                                        <th>
                                            <label>Last Price</label>
                                        </th>
                                        <th>
                                            <label>Duration</label>
                                        </th>

                                        <th>
                                            <label>Renewal Option</label>
                                        </th>

                                        <th>
                                            <label>Customer Support Level</label>
                                        </th>
                                        <th>
                                            <label>Terms and Conditions</label>
                                        </th>
                                        <th>
                                            <label>Created At</label>
                                        </th>
                                        <th>
                                            <label>Updated At</label>
                                        </th>
                                        <th>
                                            <label>Email Marketing</label>
                                        </th>
                                        <th>
                                            <label>Email Verification Service</label>
                                        </th>
                                        <th>
                                            <label>Show Your User Password</label>
                                        </th>
                                        <th>
                                            <label>Referral Service</label>
                                        </th>
                                        <th>
                                            <label>Back Up Service</label>
                                        </th>
                                        <th>
                                            <label>SMS Notification Service</label>
                                        </th>
                                        <th>
                                            <label>Emergency Alert Service</label>
                                        </th>
                                        <th>
                                            <label>User Appointment Reminder Service</label>
                                        </th>
                                        <th>
                                            <label>Doctor Availability Notification Service</label>
                                        </th>
                                        <th>
                                            <label>Medicine Store Management Service</label>
                                        </th>
                                        <th>
                                            <label>Two Factor Authentication Service</label>
                                        </th>
                                        <th>
                                            <label>Is Multiple Mobile Allowed</label>
                                        </th>
                                        <th>
                                            <label>Is Dark Mode Enabled</label>
                                        </th>
                                        <th>
                                            <label>Is Billing Notification Enabled</label>
                                        </th>
                                        <th>
                                            <label>Is Prescription Refill Reminder Enabled</label>
                                        </th>
                                        <th>
                                            <label>Max Login Attempts</label>
                                        </th>
                                        <th>
                                            <label>Is Show Password</label>
                                        </th>
                                        <th>
                                            <label>Is Social Alert</label>
                                        </th>
                                        <th>
                                            <label>Is Password Only</label>
                                        </th>
                                        <th>
                                            <label>Is Patient</label>
                                        </th>
                                        <th>
                                            <label>Is Doctor</label>
                                        </th>
                                        <th>
                                            <label>Super Admin</label>
                                        </th>
                                        <th>
                                            <label>Is Admin</label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="sList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->

</div>
<div id="plan_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Onload() {
        var param = {
            name:$("#txtname").val(),
        }
        $.post('/_ServiceList',param).done(function (res) {
            $("#sList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();

    function editPlan(planId) {
        debugger;
        let param = {
            id: planId,
        };
        $.get("/EditPlan", param).done(function (res) {
            console.log(res);
            $("#plan_modalPV").html(res);
            $("#Plan_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function AddorUpdatePlan() {
        var param = {
            ServiceID: $("#ServiceID").val(),
            ServiceName: $("#ServiceName").val(),
            Description: $("#Description").val(),
            Price: $("#Price").val(),
            LastPrice: $("#LastPrice").val(),
            Duration: $("#Duration").val(),
            RenewalOption: $("#RenewalOption").val(),
            Discounts: $("#Discounts").val(),
            CustomerSupportLevel: $("#CustomerSupportLevel").val(),
            TermsAndConditions: $("#TermsAndConditions").val(),
            EmailMarketing: $("#EmailMarketing").prop('checked'),
            EmailVerificationService: $("#EmailVerificationService").prop('checked'),
            ShowYourUserPassword: $("#ShowYourUserPassword").prop('checked'),
            ReferralService: $("#ReferralService").prop('checked'),
            BackUpService: $("#BackUpService").prop('checked'),
            SmsNotificationService: $("#SmsNotificationService").prop('checked'),
            UserAppointmentReminderService: $("#UserAppointmentReminderService").prop('checked'),
            DoctorAvailabilityNotificationService: $("#DoctorAvailabilityNotificationService").prop('checked'),
            MedicineStoreManagementService: $("#MedicineStoreManagementService").prop('checked'),
            TwoFactorAuthenticationService: $("#TwoFactorAuthenticationService").prop('checked'),
            IsLabManagmentService: $("#IsLabManagmentService").prop('checked'),
            IsLowStorageMedicineNotification: $("#IsLowStorageMedicineNotification").prop('checked'),
            IsAppointmentContactService: $("#IsAppointmentContactService").prop('checked'),
            IsAppointmentFormService: $("#IsAppointmentFormService").prop('checked'),
            IsAppointmentStatus: $("#IsAppointmentStatus").prop('checked'),
            IsWhatsappMarketing: $("#IsWhatsappMarketing").prop('checked')
        };

        $.post('/AddOrUpdatePlan', param).done(function (result) {
            Info(result.statusCode, result.responseText);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

</script>