@{
	ViewData["Title"] = "Pricing";
	Layout = "_Layout";
}
<div id="services"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function Onload() {
		$.post('/Pricing').done(function (res) {
			console.log(res);
			$("#services").html(res);
		}).fail(function () {
			alert("error");
		});
	}
	Onload();
</script>