@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop" onchange="Onload();">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mb-2" id="txtname" onchange=" Onload();" placeholder="search name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="EditDoctor(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@  
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr class="text-white">
                                        <th>NAME</th>
                                        <th>IMAGE</th>
                                        <th>SPECIALIZATION</th>
                                        <th>DR.FEE</th>
                                        <th>AVAILABILTY</th>
                                        <th>STATUS</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody id="drList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="Dr_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function Onload() {
        debugger;
        var param = {
            name: $("#txtname").val(),
        }
        $.post('/D-List', param).done(function (res) {
            $("#drList").html(res);
        }).fail(function () {
            alert("error");
        });
    }

   Onload();

    jQuery(document).ready(function ($) {
        $("#dTable").DataTable();
    });

    function doctorDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#Dr_modalPV").html(res);
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function EditDoctor(dId) {
        let param = {
            id: dId,
        };
        $.get("/D-Edit", param).done(function (res) {
            console.log(res);
            $("#Dr_modalPV").html(res);
            $("#Dr_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function doctorStatus(dId) {
        var id = $("#customSwitch3_" + dId).prop("checked");
        if (id == true) {
            id = 1;

        }
        else {
            id = 0;
        }
        var param = {
            DrId: dId,
            Status: id,
        };
        console.log(param);
        $.post("/Employee/UpdateEmployeeStatus", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }

    function addDoctor() {
        let doctorData = {
            Name: $("#Name").val(),
            Phone: $("#Phone").val(),
            Email: $("#Email").val(),
            DateOfBirth: $("#DateOfBirth").val(),
            Specialization: $("#Specialization").val(),
            Qualifications: $("#Qualifications").val(),
            Gender: $("#Gender").val(),
            Affiliations: $("#Affiliations").val(),
            Languages: $("#Languages").val(),
            ConsultationFee: $("#ConsultationFee").val(),
            Availability: $("#Availability").val(),
            Status: $("#IsActive").prop('checked') 
        };
        const formData = new FormData();
        formData.append("doctorData", JSON.stringify(doctorData));
        formData.append("file", $("#file").prop('files')[0]);
        for (const pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }
        $.ajax({
            url: '/D-AddOrUpdate',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                    Info(result.statusCode, result.responseText);
            },
            error: function () {
                showerrors("Something went wrong!!!");
            }
        });
    }

</script>

