@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor/dropzone/dropzone.min.css" />
<style>
    tr th label {
        color:white;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Form Advanced</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop" onchange="Onload();">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mb-2" id="txtname" onchange=" Onload();" placeholder="Search Name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="EditDoctor(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@  
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%); -webkit-text-fill-color: #FFFFFF;">
                                    <tr class="text-white">
                                        <th>Name</th>
                                        <th>Profile</th>
                                        <th>Speciailization</th>
                                        <th>Fee</th>
                                        <th>Availabilty</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="drList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="Dr_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function Onload() {
        debugger;
        var param = {
            name: $("#txtname").val(),
        }
        $.post('/D-List', param).done(function (res) {
            $("#drList").html(res);
        }).fail(function () {
            alert("error");
        });
    }

   Onload();

    jQuery(document).ready(function ($) {
        $("#dTable").DataTable();
    });

    function doctorDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#Dr_modalPV").html(res);
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("error");
            });
    }

    function EditDoctor(dId) {
        let param = {
            id: dId,
        };
        $.get("/D-Edit", param).done(function (res) {
            console.log(res);
            $("#Dr_modalPV").html(res);
            $("#Dr_Editmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function doctorStatus(dId) {
        var id = $("#IsVerified_" + dId).prop("checked");
        if (id == true) {
            id = 1;

        }
        else {
            id = 0;
        }
        var param = {
            Id: dId,
        };
        console.log(param);
        $.post("/DoctorModifyStatus", param).done(function (result) {
            console.log(result)
            Info(result.statusCode, result.responseText);

        }).fail(function () {
            alert("error");

        })
    }

   
</script>

