@model Entities.HospitalPolicy
@{
	ViewData["Title"] = "HospitalPolicy";
	Layout = null;
}
<div class="card">
	<div class="card-body">
		<div class="modal fade" id="HospitalPolicy_modal" tabindex="-1" aria-labelledby="HospitalPolicy_modalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="HospitalPolicy_modalTitle">
							Add or Update Hospital Policy
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row gx-3">
							<div class="col-sm-8 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<input type="text" class="form-control" asp-for="HosPolicyId" hidden>
										<div class="mb-3">
											<label for="Title" class="form-label">Title</label>
											<input type="text" class="form-control" asp-for="Title" placeholder="Full Name">
										</div>
										<div class="mb-3">
											<select class="form-control" asp-for="Type">
												<option value="">select policy type</option>
												@foreach (var item in Enum.GetValues(typeof(PolicyType)).Cast<PolicyType>())
												{
													<option value="@item">@item</option>
												}
											</select>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label for="Description" class="form-label">Description</label>
											<textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-secondary" onclick="addHospitalPolicy();">
							@if (Model != null && Model.HosPolicyId != null)
							{
								<text>Update</text>

							}
							else
							{
								<text>Save</text>
							}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



