@model IEnumerable<Entities.HospitalPolicy>
@using API.Claims
@{
    ViewData["Title"] = "HospitalPoliciesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? role = User.GetLoggedInUserRole();
}
<div class="content">


    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Hospital Policies</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop" onchange="Onload();">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    @if (role=="Admin")
                                    {
                                        <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                            <div class="col-auto mb-2">
                                                <select class="form-control" id="ddlproid">
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <input type="text" class="form-control mb-2" id="txtname" placeholder="search name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editHospitalPolicy(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead class="table-dark">
                                    <tr class="text-light">
                                        <th>
                                            POLICY ID
                                        </th>
                                        <th>
                                            TITLE
                                        </th>
                                        <th>
                                            DESCRIPTION
                                        </th>
                                        <th>
                                            TYPE
                                        </th>
                                        <th> 
                                            LAST UPDATE
                                        </th>
                                        <th>
                                            STATUS
                                        </th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>

                                <tbody id="hPList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hospitalPolicyPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Onload() {
        var projectId = 0;
        projectId = $("#ddlproid").val();
        var param = {
            name: $("#txtname").val(),
            ProjectId: projectId,
            PageLength: $("#ddltop").val(),
        };
        $.post('/_HospitalPoliciesList', param).done(function (res) {
            $("#hPList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();
    function OnloadProjectId() {
        $.post('/UserListInJson').done(function (res) {
            var options = '<option value="0">Project Id</option>';
            for (var i = 0; i < res.length; i++) {
                options += '<option value="' + res[i].projectId + '">' + res[i].projectId + '</option>';
            }
            $('#ddlproid').html(options);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    OnloadProjectId();
    function editHospitalPolicy(Id) {
        let param = {
            id: Id,
        };
        $.get("/EditHospitalPolicies", param).done(function (res) {
            console.log(res);
            $("#hospitalPolicyPV").html(res);
            $("#HospitalPolicy_modal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    
    function changeHP_Status(Id) {
        let param = {
            Id: Id,
            Status: $("#IsVerified_" + Id).prop('checked'),
        };
        $.post("/HP_Status", param)
            .done(function (result) {
                Info(result.statusCode, result.responseText);
                Onload();
            })
            .fail(function (xhr) {
                Info(-1, xhr.responseText);
            });
    }
    function addHospitalPolicy() {
        var param =
        {
            HosPolicyId: $("#HosPolicyId").val(),
            Title: $("#Title").val(),
            Type: $("#Type").val(),
            Description: $("#Description").val(),
            Status: $("#Status").prop('checked'),
        };

        $.post('/AddOrUpdateHospitalPolicies', param)
            .done(function (result) {
               Info(result.statusCode, result.responseText);
                Onload();
            })
            .fail(function () {
                alert("error");
            });
    }
</script>
