@model Entities.DCSPolicies
@{
	ViewData["Title"] = "ApplicationPolicy";
	Layout = null;
}
<div class="card">
	<div class="card-body">
		<!-- Modal -->
		<div class="modal fade" id="ApplicationPolicy_modal" tabindex="-1" aria-labelledby="ApplicationPolicy_modalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="ApplicationPolicy_modalTitle">
							Add or Update Application Policy
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row gx-3">
							<div class="col-sm-8 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<input type="text" class="form-control" asp-for="PolicyId" hidden>
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="PolicyName" class="form-label">Policy Name</label>
											<input type="text" class="form-control" asp-for="PolicyName" placeholder="Full Name">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Price" class="form-label">Price</label>
											<select class="form-control" asp-for="PolicyId">
												<option value="">select policy type</option>
												@foreach (var item in Enum.GetValues(typeof(Entities.DCSPolicyType)).Cast<Entities.DCSPolicyType>())
												{
													<option value="@item">@item</option>
												}
											</select>
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Description" class="form-label">Description</label>
											<textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-secondary" onclick="addApplicationPolicy();">
							@if (Model != null && Model.PolicyId != null)
							{
								<text>Update</text>

							}
							else
							{
								<text>Save</text>
							}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




