@using API.Claims
@{
    ViewData["Title"] = "_EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? role = User.GetLoggedInUserRole();
}
<style>
    th label {
        color: white;
    }</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Form Advanced</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Employee Details</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                        <div class="col-auto mb-2">
                                            <select class="form-control" id="ddltop">
                                                <option value="10">TOP</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                    @if (role=="Admin")
                                    {
                                        <div class="row d-flex justify-content-end align-items-center" style="margin-right: 0px;">
                                            <div class="col-auto mb-2">
                                                <select class="form-control" id="ddlproid">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <input type="text" class="form-control mb-2" id="txtemail" placeholder="search email.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editEmployee(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> 
                                    <button type="button" class="btn btn-light mb-2">Export</button>*@
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="dTable">
                                <thead style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);">
                                    <tr class="text-white">
                                        <th>
                                            <label>ID</label>
                                        </th>
                                        <th>
                                            <label>NAME</label>
                                        </th>
                                        <th>
                                            <label>EMAIL</label>
                                        </th>
                                        <th>
                                            <label>PHONE NO.</label>
                                        </th>
                                        <th>
                                            <label>IMAGE</label>
                                        </th>
                                        <th>
                                            <label>STATUS</label>
                                        </th>
                                        <th><label>Action</label></th>
                                    </tr>
                                </thead>
                                <tbody id="EMPList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="employee_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function Onload() {
        var projectId = 0;
            projectId = $("#ddlproid").val();
        var param = {
            name: $("#txtemail").val(),
            ProjectId: projectId,
            PageLength: $("#ddltop").val(),
        };
        $.post('/_EmployeeList', param).done(function (res) {
            $("#EMPList").html(res);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    Onload();
    function OnloadProjectId() {
        $.post('/UserListInJson').done(function (res) {
            var options = '<option value="0">Project Id</option>';
            for (var i = 0; i < res.length; i++) {
                options += '<option value="' + res[i].projectId + '">' + res[i].projectId + '</option>';
            }
            $('#ddlproid').html(options);
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        });
    }

    OnloadProjectId();

    function employeeDetails(Id) {
        let param = {
            id: Id,
        };
        $.post("/D-detail", param)
            .done(function (res) {
                $("#employee_modalPV").html(res);
                $("#employee_Editmoda").modal("show");
            })
            .fail(function (xhr) {
                Info(-1, xhr.responseText);
            });
    }

    function editEmployee(Id) {
        let param = {
            id: Id,
        };
        $.get("/EditEmployees", param).done(function (res) {
            $("#employee_modalPV").html(res);
            $("#employee_Editmodal").modal("show");
        }).fail(function (xhr) {
            Info(-1, xhr.responseText);
        })
    }
    function employeeStatus(Id) {
        var param = {
            Id: Id,
            Status: $("#IsVerified_" + Id).prop("checked"),
        };
        console.log(param);
        $.post("E_Status", param).done(function (result) {
            Info(result.statusCode, result.responseText);

        }).fail(function () {
            Info(-1, xhr.responseText);

        })
    }


    function addEmployee() {
       
        const employee = {
            EmployeeId: $("#EmployeeId").val(),
            Name: $("#Name").val(),
            Email: $("#Email").val(),
            ContactNumber: $("#ContactNumber").val(),
            Address: $("#Address").val(),
            Specialization: $("#Specialization").val(),
            Gender: $("#Gender").val(),
            DateOfBirth: $("#DateOfBirth").val(),
            Qualifications: $("#Qualifications").val(),
            ExperienceYears: $("#ExperienceYears").val(),
            Department: $("#Department").val(),
            Position: $("#Position").val(),
            DateOfJoining: $("#DateOfJoining").val(),
            Salary: $("#Salary").val(),
            AdharNumber: $("#AdharNumber").val(),
            Status: $("#Status").prop('checked')
        };

        const formData = new FormData();
        formData.append("employee", JSON.stringify(employee));  // Corrected line
        formData.append("file1", $("#file1").prop('files')[0]);
        formData.append("file2", $("#file2").prop('files')[0]);

        // Debug: Log the formData contents
        for (const pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }

        $.ajax({
            url: '/AddOrUpdateEmployees',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                Info(result.statusCode, result.responseText);
                Onload();
                $("#employee_Editmodal").modal("hide");
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                Info(-1, xhr.responseText);
            }
        });
    }

</script>
