@{
	Layout = null;
}
<div class="col-sm-4 col-12">
	<!-- Pricing plan start -->
	<div class="pricing-plan shade-primary">
		<div class="pricing-header">
			<h4 class="fw-lighter text-uppercase">Basic</h4>
			<h1>$29.00</h1>
			<h5 class="fw-normal">Save $5.00</h5>
		</div>
		<div class="pricing-body">
			<ul class="pricing-features">
				<li>5GB Linux Web Space</li>
				<li>5 MySQL Databases</li>
				<li>500 Emails</li>
				<li class="text-muted"><del>24/7 Tech Support</del></li>
				<li class="text-muted"><del>Daily Backups</del></li>
			</ul>
			<div class="pricing-footer">
				<div class="d-grid">
					<a href="#" class="btn btn-light btn-lg">Select Plan</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Pricing plan end -->
</div>