@{
	ViewData["Title"] = "Pricing";
	Layout = "_Layout";
}
<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

	<!-- Main header starts -->
	<div class="main-header">
		<div class="d-flex align-items-center justify-content-center">
			<div class="page-icon">
				<i class="bi bi-stickies"></i>
			</div>
			<div class="page-title d-none d-md-block">
				<h5>Pricing</h5>
			</div>
		</div>
		<!-- Live updates start -->
		<ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
			<li>
				<a href="javascript:void(0)">
					<i class="bi bi-envelope-paper text-primary font-1x me-2"></i>
					<span>12 emails from David Michaiah.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="bi bi-bar-chart text-primary font-1x me-2"></i>
					<span>15 new features updated successfully.</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<i class="bi bi-folder-check text-primary font-1x me-2"></i>
					<span>The media folder is created successfully.</span>
				</a>
			</li>
		</ul>
		<!-- Live updates end -->
	</div>
	<!-- Main header ends -->
	<!-- Content wrapper start -->
	<div class="content-wrapper">
		<!-- Row start -->
		<div class="row justify-content-center">
			
<div id="services"></div>
		</div>
		<!-- Row end -->
		<!-- Row start -->
		<div class="row justify-content-center">
			<div class="col-lg-5 col-sm-6 col-12">
				<div class="text-center px-2 py-5">
					<h5>Need help on deciding?</h5>
					<p class="mb-4">
						We can help you to decide what’s the best for your company
						based on a lot of factors and other cool stuff that I’m
						going to write about.
					</p>
					<button class="btn btn-outline-primary">Contact</button>
				</div>
			</div>
			<div class="col-lg-5 col-sm-6 col-12">
				<div class="text-center px-2 py-5">
					<h5>Looking for custom plan?</h5>
					<p class="mb-4">
						We can help you to decide what’s the best for your company
						based on a lot of factors and other cool stuff that I’m
						going to write about.
					</p>
					<button class="btn btn-outline-primary">Contact</button>
				</div>
			</div>
		</div>
		<!-- Row end -->

	</div>
	<!-- Content wrapper end -->

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function Onload() {
		$.post('/Pricing').done(function (res) {
			$("#services").html(res);
		}).fail(function () {
			alert("error");
		});
	}
	Onload();
</script>