
@{
	ViewData["Title"] = "Home";
	Layout = "_Layout";
}
<div class="content-wrapper-scroll">
<!-- Main header starts -->
<div class="main-header">
	<div class="d-flex align-items-center justify-content-center">
		<div class="page-icon">
			<i class="bi bi-house"></i>
		</div>
		<div class="page-title d-none d-md-block">
			<h5>Welcome back, DCS</h5>
		</div>
	</div>
	<!-- Live updates start -->
	<ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
		<li>
			<a href="javascript:void(0)">
				<i class="bi bi-envelope-paper text-primary font-1x me-2"></i>
				<span>12 emails from DCS Michaiah.</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<i class="bi bi-bar-chart text-primary font-1x me-2"></i>
				<span>15 new features updated successfully.</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<i class="bi bi-folder-check text-primary font-1x me-2"></i>
				<span>The media folder is created successfully.</span>
			</a>
		</li>
	</ul>

	<hr /><!-- Live updates end -->
</div>
<div class="content-wrapper">

	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-xxl-8 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
					<!-- Row start -->
					<div class="row g-5">
						<div class="col-sm-6 col-12 v-separator">
							<div class="card-title">Projects</div>
							<div class="d-flex justify-content-between">
								<div class="mt-auto">
									<h3>25%</h3>
									<h6 class="text-red">
										<i class="bi bi-arrow-down-circle-fill"></i>
										18.09%
									</h6>
								</div>
								<div id="sparkline1"></div>
							</div>
						</div>
						<div class="col-sm-6 col-12">
							<div class="card-title">Income</div>
							<div class="d-flex justify-content-between">
								<div class="mt-auto">
									<h3>67%</h3>
									<h6 class="text-green">
										<i class="bi bi-arrow-up-circle-fill"></i> 21.15%
									</h6>
								</div>
								<div id="sparkline2"></div>
							</div>
						</div>
					</div>
					<!-- Row end -->
				</div>
			</div>
			<!-- Row start -->
			<div class="row gx-3">
				<div class="col-lg-4 col-sm-6 col-12">
					<div class="card d-flex justify-content-between flex-row p-3">
						<div class="me-2">
							<p>Sales</p>
							<h3>3700</h3>
							<h6 class="text-green m-0">
								<i class="bi bi-arrow-up-circle-fill"></i>
								25.65%
							</h6>
						</div>
						<div id="sparkline3"></div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12">
					<div class="card d-flex justify-content-between flex-row p-3">
						<div class="me-2">
							<p>Expenses</p>
							<h3>2500</h3>
							<h6 class="text-green m-0">
								<i class="bi bi-arrow-up-circle-fill"></i>
								16.90%
							</h6>
						</div>
						<div id="sparkline4"></div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 col-12">
					<div class="card d-flex justify-content-between flex-row p-3">
						<div class="me-2">
							<p>Income</p>
							<h3>28K</h3>
							<span class="badge shade-light-red">Year 2022</span>
						</div>
						<div id="sparkline5"></div>
					</div>
				</div>
			</div>
			<!-- Row end -->
		</div>
		<div class="col-xxl-4 col-sm-12 col-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Project Status</div>
				</div>
				<div class="card-body">
					<div id="projects"></div>
					<div class="text-center">
						<span class="badge shade-light-primary me-3">+61.7% completed</span>
						<span class="badge shade-light-red">+38.3% pending</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Row end -->
	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-xxl-8 col-xl-12 col-lg-8 col-sm-12 col-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Analytics</div>
				</div>
				<div class="card-body">
					<div id="analytics"></div>
					<div class="d-flex justify-content-center mt-3">
						<div class="graph-stats d-flex align-items-center flex-column">
							<h3>9500</h3>
							<div class="graph-stats-details d-flex align-items-center me-2">
								<b class="text-red">- 21.3%</b>
								<p class="ms-3">
									<span class="text-red d-flex fw-bold mb-2">Visitors</span>Lower than last week
								</p>
							</div>
							<div id="sparkline-analytics1"></div>
						</div>
						<div class="graph-stats d-flex align-items-center flex-column">
							<h3>6500</h3>
							<div class="graph-stats-details d-flex align-items-center me-2">
								<b class="text-green">+ 25.5%</b>
								<p class="ms-3">
									<span class="text-primary d-flex fw-bold mb-2">Sessions</span>Better than last week
								</p>
							</div>
							<div id="sparkline-analytics2"></div>
						</div>
						<div class="graph-stats d-flex align-items-center flex-column">
							<h3>3000</h3>
							<div class="graph-stats-details d-flex align-items-center me-2">
								<b class="text-green">+ 18.9%</b>
								<p class="ms-3">
									<span class="text-primary d-flex fw-bold mb-2">Clicks</span>Better than last week
								</p>
							</div>
							<div id="sparkline-analytics3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xxl-4 col-xl-12 col-lg-4 col-sm-12 col-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Leads</div>
				</div>
				<div class="card-body">
					<div id="leads"></div>
					<div class="text-center my-4">
						<h3>
							369
							<i class="bi bi-arrow-up-right-circle-fill text-green"></i>
						</h3>
						<p class="text-truncate">32% higher than last month</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Row end -->
	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-xxl-8 col-xl-12 col-lg-8 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
					<!-- Row start -->
					<div class="row align-items-center">
						<div class="col-xxl-9 col-xl-8 col-md-9 col-sm-8 col-12">
							<div class="card-title">Visitors</div>
							<div id="visits"></div>
						</div>
						<div class="col-xxl-3 col-xl-4 col-md-3 col-sm-4 col-12">
							<div class="m-0">
								<div class="d-flex align-items-center box-bdr-red rounded-2 p-3">
									<i class="bi bi-tv text-red font-3x"></i>
									<div class="ms-3">
										<h3>560</h3>
										<p class="m-0">Desktop</p>
									</div>
								</div>
								<div class="d-flex align-items-center box-bdr-green rounded-2 p-3 my-2">
									<i class="bi bi-tablet text-primary font-3x"></i>
									<div class="ms-3">
										<h3>268</h3>
										<p class="m-0">iPad</p>
									</div>
								</div>
								<div class="d-flex align-items-center box-bdr-green rounded-2 p-3">
									<i class="bi bi-phone text-primary font-3x"></i>
									<div class="ms-3">
										<h3>957</h3>
										<p class="m-0">Mobile</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->
				</div>
			</div>
		</div>
		<div class="col-xxl-4 col-xl-12 col-lg-4 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">Revenue</div>
					<div id="revenue"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Row end -->
	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-xxl-4 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">Sales</div>
					<p>Total $57,290 Sales</p>
					<div id="sales"></div>
					<div class="d-flex justify-content-between align-items-start ht-separator pt-4">
						<div class="m-0">
							<h5>Highest Sales</h5>
							<p class="m-0">
								Total 85M Income In the month of April
							</p>
						</div>
						<a href="#" class="btn btn-primary">
							<i class="bi bi-caret-right-fill m-0"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xxl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">Transactions</div>
					<div id="transactions"></div>
					<!-- Row start -->
					<div class="row gx-3">
						<div class="col-sm-6 col-6">
							<div class="d-flex mb-3">
								<div id="transactions1"></div>
								<div class="ms-2">
									<h3>75k</h3>
									<p class="m-0">Transactions</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-6">
							<div class="d-flex mb-3">
								<div id="transactions2"></div>
								<div class="ms-2">
									<h3>56k</h3>
									<p class="m-0">Profit</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->
					<div class="d-flex justify-content-between align-items-start ht-separator pt-4">
						<div class="m-0">
							<h5>High Income</h5>
							<p class="m-0">
								Total 36M Income In the month of April
							</p>
						</div>
						<a href="#" class="btn btn-primary">
							<i class="bi bi-caret-right-fill m-0"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xxl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Project Activity</div>
				</div>
				<div class="card-body">
					<div class="scroll370">
						<ul class="mt-3">
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">10:30 am</p>
									<span class="badge shade-red">75%</span>
								</div>
								<div class="py-3">
									<h5>DCS - Admin Dashboard</h5>
									<p>by Elnathan Lois</p>
									<div class="badge red">8 hours left</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">11:30 am</p>
									<span class="badge shade-primary">50%</span>
								</div>
								<div class="py-3">
									<h5>Mobile App</h5>
									<p>by Patrobus Nicole</p>
									<div class="stacked-images my-2">
										<img src="assets/images/user5.png" alt="Admin Templates" />
										<img src="assets/images/user4.png" alt="Bootstrap Gallery" />
										<img src="assets/images/user2.png" alt="Best Admin Themes" />
										<img src="assets/images/user1.png" alt="Modern Dashboards" />
										<span class="plus shade-primary">+3</span>
									</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">12:50 pm</p>
									<span class="badge shade-primary">90%</span>
								</div>
								<div class="py-3">
									<h5>Material Design Kit</h5>
									<p>by Abilene Omega</p>
									<div class="badge primary mb-2">2 days left</div>
									<div class="stacked-images my-2">
										<img src="assets/images/user5.png" alt="Bootstrap Gallery" />
										<img src="assets/images/user3.png" alt="Best Bootstrap Dashboards" />
										<img src="assets/images/user5.png" alt="Bootstrap Gallery" />
										<span class="plus shade-primary">+2</span>
									</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">02:30 pm</p>
									<span class="badge shade-primary">50%</span>
								</div>
								<div class="py-3">
									<h5>Invoice Design</h5>
									<p>by Shelomi Sarah</p>
									<div class="badge primary">2 days left</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">03:45 pm</p>
									<span class="badge shade-primary">77%</span>
								</div>
								<div class="py-3">
									<h5>Mobile App</h5>
									<p>by Anaiah Edrei</p>
									<div class="badge primary">3 days left</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">04:10 pm</p>
									<span class="badge shade-primary">89%</span>
								</div>
								<div class="py-3">
									<h5>Backend Development</h5>
									<p>by Mareshah Nicole</p>
									<div class="stacked-images mt-3">
										<img src="assets/images/user4.png" alt="Bootstrap Gallery" />
										<img src="assets/images/user3.png" alt="Best Bootstrap Dashboards" />
										<img src="assets/images/user2.png" alt="Bootstrap Gallery" />
										<span class="plus shade-primary">+7</span>
									</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">04:45 pm</p>
									<span class="badge shade-primary">25%</span>
								</div>
								<div class="py-3">
									<h5>Testing</h5>
									<p>by Andrew Seth</p>
									<div class="badge primary">4 days left</div>
								</div>
							</li>
							<li class="activity-list d-flex">
								<div class="activity-time pt-2 pe-3 me-3">
									<p class="date m-0">05:30 pm</p>
									<span class="badge shade-primary">85%</span>
								</div>
								<div class="py-3">
									<h5>Product Launch</h5>
									<p>by Berechiah Philip</p>
									<div class="badge primary">3 days left</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
			

