@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <form class="d-flex">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-light" id="dash-daterange">
                                <span class="input-group-text bg-primary border-primary text-white">
                                    <i class="mdi mdi-calendar-range font-13"></i>
                                </span>
                            </div>
                            <a href="javascript: void(0);" class="btn btn-primary ms-2">
                                <i class="mdi mdi-autorenew"></i>
                            </a>
                            <a href="javascript: void(0);" class="btn btn-primary ms-1">
                                <i class="mdi mdi-filter-variant"></i>
                            </a>
                        </form>
                    </div>
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>





        <div id="dboardstatus"></div>


        <div class="row">
            <div class="col-xl-5" id="2nldrow">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-4">Appointment Yearly Data</h4>
                        <div dir="ltr">
                            <div id="patterned-donut" class="apex-charts" data-colors="#39afd1,#ffbc00,#313a46,#fa5c7c,#0acf97"></div>
                        </div>
                    </div>
                    <!-- end card body-->
                </div>

            </div>

            <div class="col-xl-7">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-hamburger"></i>
                            TOP 5 SERVICE
                        </h3>

                        <div id="ChartPartialView"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <h3 class="card-title mt-1 m-1 mb-2">
                            <span class="mdi mdi-book-account-outline"></span> Next 7 Day Appointment List
                        </h3>
                        <table class="table table-centered mb-0">
                            <thead class="" style="background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);color:white;">
                                <tr>
                                    <th style="color:white;">APPOINT NO:</th>
                                    <th style="color:white;">NAME</th>
                                    <th style="color:white;">SERVICE</th>
                                    <th style="color:white;">NEXT-APPOINT</th>
                                </tr>
                            </thead>
                            <tbody id="nextappoint">
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Top 5 Visited Address by Patients</h4>

                            <div dir="ltr">
                                <div id="basic-polar-area" class="apex-charts"
                                     data-colors="#727cf5,#6c757d,#0acf97,#fa5c7c,#ffbc00,#39afd1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container -->

    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function Onload() {
             debugger
            $.post('/Dashboard/DashboardStatus').done(function (res) {
                $("#dboardstatus").html(res);
            }).fail(function () {
                alert("error");
            });
        }
        Onload();
        function Onload2ndRow() {

            $.post('/GetTopHospitalService').done(function (res) {
                $("#ChartPartialView").html(res);
            }).fail(function () {
                alert("error");
            });
        }
        Onload2ndRow();
        function NextSevenDay() {

            $.post('/GetAppointmentDetailNextSevenDay').done(function (res) {
                $("#nextappoint").html(res);
            }).fail(function () {
                alert("error");
            });
        }
        NextSevenDay();

    </script>

    @* <div class="container-fluid mb-5">
    <div class="text-center mt-5">
    <h1>Our Services</h1>
    </div>
    <div class="row">
    <div class="col-md-4">
    <div class="box">
    <div class="our-services settings">
    <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
    <h4>Settings</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="box">
    <div class="our-services speedup">
    <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
    <h4>Speedup</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="box">
    <div class="our-services privacy">
    <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
    <h4>Privacy</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
    <div class="box">
    <div class="our-services backups">
    <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
    <h4>Backups</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="box">
    <div class="our-services ssl">
    <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
    <h4>SSL secured</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="box">
    <div class="our-services database">
    <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
    <h4>Database</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    </div>
    </div>
    </div>
    </div> *@
