@{
    ViewData["Title"] = "AppointmentList";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        E-commerce
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <svg class="stroke-icon">
                                    <use href="~/assets2/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard </li>
                        <li class="breadcrumb-item active">E-commerce</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 box-col-7">
                <div class="card">
                    <div class="card-header sales-chart card-no-border pb-0">
                        <h4>Sales Chart </h4>
                        <div class="sales-chart-dropdown">
                            <ul class="balance-data">
                                <li> <span class="circle bg-warning"></span><span class="f-light ms-1">Revenue</span></li>
                                <li><span class="circle bg-primary"> </span><span class="f-light ms-1">Orders</span></li>
                            </ul>
                            <div class="sales-chart-dropdown-select">
                                <div class="card-header-right-icon online-store">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle dropdown-toggle-store" id="dropdownMenuButtonToggle" data-bs-toggle="dropdown" aria-expanded="false">Online Store</button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonToggle" role="menu"><span class="dropdown-item">All </span><span class="dropdown-item">Employee</span><span class="dropdown-item">Client    </span></div>
                                    </div>
                                </div>
                                <div class="card-header-right-icon">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Last Year  </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" role="menu"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week </span><span class="dropdown-item">Today  </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 pt-0">
                        <div class="sales-wrapper">
                            <div id="saleschart"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 box-col-5 total-revenue-total-order">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="total-revenue mb-2"> <span>Total Revenue</span><a href="index.html">View Report</a></div>
                                <h3 class="f-w-600">₹97,250.89 </h3>
                                <div class="total-chart">
                                    <div class="data-grow d-flex gap-2"><i class="font-primary" data-feather="arrow-up-right"></i><span class="f-w-500">60.00% from last year </span></div>
                                    <div class="total-revenue-chart">
                                        <div id="revenue"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="total-revenue mb-2"> <span>Total Order   </span><a href="index.html">View Report</a></div>
                                <h3 class="f-w-600">35,452</h3>
                                <div class="total-chart">
                                    <div class="data-grow d-flex gap-2"> <i class="font-secondary" data-feather="arrow-down-left"></i><span class="f-w-500">15.00% from last week</span></div>
                                    <div class="total-order">
                                        <div id="totalOrder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 special-Offer-banner box-col-none">
                <div class="card">
                    <div class="special-Offer">
                        <div class="offer-contain">
                            <h4>Today’s Special Offer</h4>
                            <p class="mt-2 text-center">You can flat get 20% off on your next pro version if your sale break your last record.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 box-col-12">
                <div class="row">
                    <div class="col-xl-5 col-sm-6">
                        <div class="card height-equal">
                            <div class="card-body">
                                <ul class="product-costing">
                                    <li class="product-cost">
                                        <div class="product-icon bg-primary-light">
                                            <svg>
                                                <use href="~/assets2/svg/icon-sprite.svg#activity"></use>
                                            </svg>
                                        </div>
                                        <div>
                                            <span class="f-w-500 f-14 mb-0">Total Sales</span>
                                            <h2 class="f-w-600">₹98,459</h2>
                                        </div>
                                    </li>
                                    <li> <span class="f-light f-14 f-w-500">We have sale +18.2k this week.</span></li>
                                </ul>
                                <ul class="product-costing">
                                    <li class="product-cost">
                                        <div class="product-icon bg-warning-light">
                                            <svg>
                                                <use href="~/assets2/svg/icon-sprite.svg#people"></use>
                                            </svg>
                                        </div>
                                        <div>
                                            <span class="f-w-500 f-14 mb-0">Total Visitors</span>
                                            <h2 class="f-w-600">54,156</h2>
                                        </div>
                                    </li>
                                    <li> <span class="f-light f-14 f-w-500">We have total +3.5k visitors this week.</span></li>
                                </ul>
                                <ul class="product-costing">
                                    <li class="product-cost">
                                        <div class="product-icon bg-light">
                                            <svg>
                                                <use href="~/assets2/svg/icon-sprite.svg#task-square"></use>
                                            </svg>
                                        </div>
                                        <div>
                                            <span class="f-w-500 f-14 mb-0">Total Orders</span>
                                            <h2 class="f-w-600">5,125</h2>
                                        </div>
                                    </li>
                                    <li> <span class="f-light f-14 f-w-500">We have total +5k orders this week.</span></li>
                                </ul>
                                <ul class="product-costing">
                                    <li class="product-cost">
                                        <div class="product-icon bg-danger-light">
                                            <svg>
                                                <use href="~/assets2/svg/icon-sprite.svg#money-recive"></use>
                                            </svg>
                                        </div>
                                        <div>
                                            <span class="f-w-500 f-14 mb-0">Refunded</span>
                                            <h2 class="f-w-600">₹20,000</h2>
                                        </div>
                                    </li>
                                    <li> <span class="f-light f-14 f-w-500">We got +66k refund this week.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-sm-6">
                        <div class="card height-equal">
                            <div class="card-header pb-0 total-revenue card-no-border">
                                <h4>Sale History </h4><a href="index.html">View All</a>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li class="sale-history-card">
                                        <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Oxford shirt with rolled sleeve</a><span class="mb-0 txt-primary f-w-600 f-16">₹1500.14</span></div>
                                        <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">United States</span><span class="f-w-400 f-14 f-light">50 min ago</span></div>
                                    </li>
                                    <li class="sale-history-card">
                                        <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Jordans 1 high neck tshirt</a><span class="mb-0 txt-primary f-w-600 f-16">₹1800.87</span></div>
                                        <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">Canada</span><span class="f-w-400 f-14 f-light">40 min ago</span></div>
                                    </li>
                                    <li class="sale-history-card">
                                        <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Graphic Print Men Round Neck Whi...</a><span class="mb-0 txt-primary f-w-600 f-16">₹2000.84</span></div>
                                        <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">United States</span><span class="f-w-400 f-14 f-light">35 min ago</span></div>
                                    </li>
                                    <li class="sale-history-card">
                                        <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Full Sleeve Solid Women Denim Jac...</a><span class="mb-0 txt-primary f-w-600 f-16">₹1500.14</span></div>
                                        <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">Australia</span><span class="f-w-400 f-14 f-light">50 min ago</span></div>
                                    </li>
                                    <li class="sale-history-card">
                                        <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Slim Women Black Jeans</a><span class="mb-0 txt-primary f-w-600 f-16">₹780.25</span></div>
                                        <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">UK</span><span class="f-w-400 f-14 f-light">28 min ago</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-md-12 box-col-12">
                <div class="card height-equal">
                    <div class="card-header total-revenue card-no-border">
                        <h4>Latest Orders</h4>
                        <div class="d-flex align-items-center gap-2">
                            <span class="update-data d-none d-md-block f-light">Data updates in every 3 hours</span>
                            <div class="sales-chart-dropdown-select">
                                <div class="card-header-right-icon">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" id="dropdownMenuButtondownMenu" data-bs-toggle="dropdown" aria-expanded="false">Today </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtondownMenu" role="menu"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week </span><span class="dropdown-item">Last Day</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-order table-responsive custom-scrollbar">
                            <table class=" latest-orders w-100">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Billing Name</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/1.png" alt="product">
                                                <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Winter Jecket</a><span class="f-light f-14 f-w-500 d-block">ID : 4859578</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Amit Shah</a><span class="f-light f-14 f-w-500 d-block">amith14@gmail.com</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹1500.45</a><span class="f-light f-14 f-w-500 d-block">Google Pay</span></div>
                                        </td>
                                        <td>
                                            <div class="badge-light-primary product-sub badge rounded-pill"><span>Delivered</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub">
                                                <svg class="invoice-icon">
                                                    <use href="~/assets2/svg/icon-sprite.svg#fream"></use>
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/2.png" alt="product">
                                                <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Casual Trousere</a><span class="f-light f-14 f-w-500 d-block">ID : 4875566</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Arlene McCoy</a><span class="f-light f-14 f-w-500 d-block">arlene1@gmail.com</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹785.62</a><span class="f-light f-14 f-w-500 d-block">Credit Card</span></div>
                                        </td>
                                        <td>
                                            <div class="badge-light-warning product-sub badge rounded-pill"><span>Shipped</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub">
                                                <svg class="invoice-icon">
                                                    <use href="~/assets2/svg/icon-sprite.svg#fream"></use>
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/3.png" alt="product">
                                                <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Silk Saree</a><span class="f-light f-14 f-w-500 d-block">ID : 7894561</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Marvin McKinney</a><span class="f-light f-14 f-w-500 d-block">marvin4@gmail.com</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹2000.02</a><span class="f-light f-14 f-w-500 d-block">Debit Card</span></div>
                                        </td>
                                        <td>
                                            <div class="badge-light-secondary product-sub badge rounded-pill"><span>Processing</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub">
                                                <svg class="invoice-icon">
                                                    <use href="~/assets2/svg/icon-sprite.svg#fream"></use>
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/4.png" alt="product">
                                                <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Men’s Loafers</a><span class="f-light f-14 f-w-500 d-block">ID : 1234567</span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Annette Black</a><span class="f-light f-14 f-w-500 d-block">black45@gmail.com</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹1589.25</a><span class="f-light f-14 f-w-500 d-block">Pay Pal</span></div>
                                        </td>
                                        <td>
                                            <div class="badge-light-light product-sub badge rounded-pill"><span>Cancelled</span></div>
                                        </td>
                                        <td>
                                            <div class="product-sub">
                                                <svg class="invoice-icon">
                                                    <use href="~/assets2/svg/icon-sprite.svg#fream"></use>
                                                </svg>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 box-col-12">
                <div class="card">
                    <div class="card-header total-revenue card-no-border">
                        <h4>Live Product</h4><a href="product.html">View All</a>
                    </div>
                    <div class="card-body pt-0">
                        <div class="table-order table-responsive custom-scrollbar">
                            <table class="order-table w-100">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Type</th>
                                        <th>Stock</th>
                                        <th>Variants</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/6.png" alt="user">
                                                <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Formal Shirts</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Men</a></div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body text-end switch-sm">
                                                    <label class="switch">
                                                        <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6>3</h6>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <div id="dropdownMenuButtonicon6" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                                    <svg class="invoice-icon">
                                                        <use href="~/assets2/svg/icon-sprite.svg#more-horizontal"></use>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon6"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week</span><span class="dropdown-item">Last Day </span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/7.png" alt="user">
                                                <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Loafers</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Men</a></div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body text-end switch-sm">
                                                    <label class="switch">
                                                        <span class="switch-state"> </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6>1</h6>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <div id="dropdownMenuButtonMenu8" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                                    <svg class="invoice-icon">
                                                        <use href="~/assets2/svg/icon-sprite.svg#more-horizontal"></use>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonMenu8"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week</span><span class="dropdown-item">Last Day </span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/8.png" alt="user">
                                                <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Jeans</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Women</a></div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body text-end switch-sm">
                                                    <label class="switch">
                                                        <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6>4</h6>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <div id="dropdownMenuButtonicon3" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                                    <svg class="invoice-icon">
                                                        <use href="~/assets2/svg/icon-sprite.svg#more-horizontal"></use>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon3"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week</span><span class="dropdown-item">Last Day </span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="product-name">
                                                <img class="order-table-images img-fluid" src="../assets2/images/dashboard/order-table/9.png" alt="user">
                                                <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Saree</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Women</a></div>
                                        </td>
                                        <td>
                                            <div class="media">
                                                <div class="media-body text-end switch-sm">
                                                    <label class="switch">
                                                        <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6>3</h6>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <div id="dropdownMenuButtonicon9" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                                    <svg class="invoice-icon">
                                                        <use href="~/assets2/svg/icon-sprite.svg#more-horizontal"></use>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon9"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week</span><span class="dropdown-item">Last Day </span></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 box-col-6">
                <div class="card">
                    <div class="card-header total-revenue card-no-border">
                        <h4>Top Revenue Product</h4>
                        <div class="sales-chart-dropdown-select">
                            <div class="card-header-right-icon">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" id="dropdownMenuButtonup" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonup" role="menu"><span class="dropdown-item">Last Month</span><span class="dropdown-item">Last Week  </span><span class="dropdown-item">Last Day </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="revenueproduct" id="revenueproduct"> </div>
                        <div class="sales-chart-dropdown">
                            <ul class="balance-data flex-wrap flex">
                                <li><span class="circle bg-primary"></span><span class="f-light ms-1">Men & Women Jeans</span></li>
                                <li><span class="circle bg-warning"></span><span class="f-light ms-1">Men & Women T-shirts</span></li>
                                <li><span class="circle bg-secondary"></span><span class="f-light ms-1">Men & Women Shoes</span></li>
                                <li><span class="circle bg-light"></span><span class="f-light ms-1">Kurtas & Kurti</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 box-col-6">
                <div class="card">
                    <div class="div ecommerce-banner"> </div>
                </div>
                <div class="col-xl-12">
                    <div class="card product-widget">
                        <div class="card-body new-product">
                            <div class="product-cost">
                                <div class="add-product">
                                    <div class="product-icon bg-light-primary">
                                        <svg>
                                            <use href="~/assets2/svg/icon-sprite.svg#box-add"></use>
                                        </svg>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Add New Product</h6><span class="f-light">Images are crucial showcasing</span>
                                    </div>
                                </div>
                                <div class="product-icon">
                                    <svg>
                                        <use href="~/assets2/svg/icon-sprite.svg#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card product-widget">
                        <div class="card-body new-product">
                            <div class="product-cost">
                                <div class="add-product">
                                    <div class="product-icon bg-light-primary">
                                        <svg>
                                            <use href="~/assets2/svg/icon-sprite.svg#receipt-disscount"></use>
                                        </svg>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Add Disscount  </h6><span class="f-light">The product images to the platform</span>
                                    </div>
                                </div>
                                <div class="product-icon">
                                    <svg>
                                        <use href="~/assets2/svg/icon-sprite.svg#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends -->
