<div class="card">
	<div class="card-body">
		<!-- Modal -->
		<div class="modal fade" id="AddProjectmodal" tabindex="-1" aria-labelledby="AddProjectmodalTitle" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="AddProjectmodalTitle">
							Modal title
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row gx-3">
							<div class="col-sm-4 col-12">
								<div id="ProjectLogo" class="mb-3">
									<form action="/upload" class="dropzone sm needsclick dz-clickable" id="update-profile-pic">
										<div class="dz-message needsclick">
											<button type="button" class="dz-button">
												Add Logo.
											</button>
										</div>
									</form>
								</div>
							</div>
							<div class="col-sm-8 col-12">
								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Name" class="form-label">Full Name</label>
											<input type="text" class="form-control" id="Name" placeholder="enter full name">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Email" class="form-label">Email</label>
											<input type="email" class="form-control" id="Email" placeholder="enter email">
										</div>
									</div>
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Email" class="form-label">Phone No.</label>
											<input type="number" class="form-control" id="Phone" placeholder="enter phone">
										</div>

										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="Email" class="form-label">Project Name.</label>
											<input type="text" class="form-control" id="ProjectName" placeholder="enter projec tName">
										</div>
									</div>

								</div>

								<div class="row gx-3">
									<div class="col-6">
										<!-- Form Field Start -->
										<div class="mb-3">
											<label for="DomainName" class="form-label">Domain Name</label>
											<input type="text" class="form-control" id="DomainName" placeholder="enter domain Name">
											
										</div>
									</div>
										<div class="col-6">
										<div class="mb-3">
											<label for="Validity" class="form-label">Validity</label>
											<input type="datetime" class="form-control" id="Validity" placeholder="enter Validity">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" onclick="addProject();">
                         Create Now
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
