@model Entities.ProjectDetails

<div class="card">
    <div class="card-body">
        <!-- Modal -->
        <div class="modal fade" id="AddProjectmodal" tabindex="-1" aria-labelledby="AddProjectmodalTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddProjectmodalTitle">
                            Add or Update Project Details
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building me-1"></i> Company Info</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="hidden" asp-for="ProjectId" />
                                    <label for="companyname" class="form-label">Update Project Name</label>
                                    <input type="text" class="form-control" id="companyname" name="ProjectName" placeholder="Enter company name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="updatedomainname" class="form-label">Updated Domain Name</label>
                                    <input type="text" class="form-control" id="updatedomainname" name="updatedomainname">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="logo" class="form-label">Logo</label>
                                    <input type="file" class="form-control" id="logo" name="Logo">
                                </div>
                            </div>
                            <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="addProject()">
                            <i class="mdi mdi-content-save"></i> Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addProject() {
        var projectData = {
            ProjectId: $("#ProjectId").val(),  
            ProjectName: $("#companyname").val(),
            UpdatedDomainName: $("#updatedomainname").val(),
            Id: 0,
        };

        var formData = new FormData();
        formData.append("projectData", JSON.stringify(projectData));
        formData.append("file", $("#logo")[0].files[0]); 

        $.ajax({
            url: '/AddOrUpdateProject',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                setTimeout(function () {
                    Info(result.statusCode, result.responseText);
                }, 1000);
            },
            error: function () {
                showerrors("Something went wrong!!!"); 
            }
        });
    }
</script>
