@model IEnumerable<Entities.ApplicationSetting>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td class="table-action">
            @* <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="EditAppSetting(@item.ProjectID)"></i></a> *@
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="EditAppSetting(@item.ProjectID)"></i></a>
            @*  <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
        </td>
    </tr>
}