

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProjectList</h1>



<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon">
                <i class="bi bi-window-split"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Projects</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-primary font-1x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-primary font-1x me-2"></i>
                    <span>15 new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-primary font-1x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->
    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gx-3">
            <div class="col-sm-12 col-12">
                <p>
                    <button id="btnaddservice" class="btn btn-outline-info">Add New Project </button>
                </p>
                <div class="card">
                    <div class="card-body">
                        <div class="col-xxl-4 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtname" placeholder="Search name.." />
                                        <button class="btn btn-outline-secondary" onclick="Onload" type="button">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped border-primary m-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <label for="projectId">Project ID</label>
                                        </th>
                                        <th>
                                            <label for="userEmail">User Email</label>
                                        </th>
                                        <th>
                                            <label for="projectName">Project Name</label>
                                        </th>
                                        <th>
                                            <label for="domainName">Domain Name</label>
                                        </th>
                                        <th>
                                            <label for="purchaseDate">Purchase Date</label>
                                        </th>
                                        <th>
                                            <label for="validity">Validity</label>
                                        </th>
                                        <th>
                                            <label for="isLifeTime">Is LifeTime</label>
                                        </th>
                                        <th>
                                            <label for="status">Status</label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>


                                <tbody id="pList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

</div>
<script>
    function Onload() {
        var param = {
            name: $("#txtname").val(),
        }
        $.post('/_ProjectList', param).done(function (res) {
            $("#pList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();
</script>