

@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProjectList</h1>




<div class="content">


    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                            <li class="breadcrumb-item active">Project</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Manage Project</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control mb-2" id="txtname" onchange="Onload();" placeholder="search name.." />
                                    <button class="btn btn-info mb-2" onclick="Onload();" type="button">
                                        Search
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-sm-end">
                                    <button id="btnaddAppointment" class="btn btn-danger mb-2" onclick="editProject(0)" type="button">
                                        <i class="mdi mdi-plus-circle me-2"></i>  Add New
                                    </button>
                                    @* <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog-outline"></i></button> *@
                                    <button type="button" class="btn btn-light mb-2">Export</button>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped dt-responsive nowrap w-100" id="tblPatient">
                                <thead>
                                    <tr>
                                        <th>
                                            <label for="projectId">Id</label>
                                        </th>
                                        <th>
                                            <label for="userEmail">Email</label>
                                        </th>
                                        <th>
                                            <label for="projectName">Name</label>
                                        </th>
                                        <th>
                                            <label for="Logo">Logo</label>
                                        </th>
                                        <th>
                                            <label for="domainName">Domain</label>
                                        </th>
                                        <th>
                                            <label for="purchaseDate">Purchase Date</label>
                                        </th>
                                        <th>
                                            <label for="status">Status</label>
                                        </th>
                                        <th> <label for="Action">Action</label></th>
                                    </tr>
                                </thead>


                                <tbody id="pList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
    </div> <!-- container -->

</div>

<div id="project_modalPV"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function Onload() {
        var param = {
            name: $("#txtname").val(),
        }
        $.post('/_ProjectList', param).done(function (res) {
            $("#pList").html(res);
        }).fail(function () {
            alert("error");
        });
    }
    Onload();
    function editProject(pId) {
        let param = {
            id: pId,
        };
        $.get("/EditProject", param).done(function (res) {
            console.log(res);
            $("#project_modalPV").html(res);
            $("#AddProjectmodal").modal("show");
        }).fail(function (hxr) {
            console.log(hxr);
            alert("errror");
        })
    }
    function addProject() {
        debugger;
       var  status =0;
       var  PStatus= $("#Status").prop('checked');
        if(PStatus){
         status = 1;
        }
        else{
            status = 0;
        }
        const projectData = {
            ProjectId: $("#ProjectId").val(),
            Name: $("#Name").val(),
            PhoneNo: $("#Phone").val(),
            Email: $("#Email").val(),
            ProjectName: $("#ProjectName").val(),
            DomainName: $("#DomainName").val(),
            Status: status 
        };

        const formData = new FormData();
        formData.append("projectData", JSON.stringify(projectData));
        formData.append("file", $("#file").prop('files')[0]);
        for (const pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]);
        }

        $.ajax({
            url: '/AddOrUpdateProject',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                setTimeout(function () {
                    Info(result.statusCode, result.responseText);
                }, 1000);
            },
            error: function () {
                showerrors("Something went wrong!!!");
            }
        });
    }
</script>